{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as lang_dir %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans 'Log in' %}</title>

    {% if lang_dir %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile.css' %}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_en.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile_en.css' %}">
    {% endif %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;700&display=swap" rel="stylesheet">

</head>
<body>
    <form action="{% url 'set_language' %}" method="post" class="change-language">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <input name="language" type="hidden" value="{{ LANGUAGE_CODE }}">
        {% for language in languages %}
            <a href="javascript:void(0)" onclick="changeLanguage('{{ language.code }}')">{{ language.name_local }}</a>
        {% endfor %}
    </form>
<div class="login-page">
<div class="login-welcome">
    {% trans 'Welcome to Mindtools' %}
</div>
<div class="login-inner-box">
    <div class="login-title">{% trans 'Login' %}</div>
    <form action="{% url 'login' %}" method="post" class="login-form">
        {% csrf_token %}
        <input type="text" name="username" class="login-input-box" dir="auto" placeholder="{% trans 'Email address' %}">
        <input type="password" name="password" class="login-input-box" dir="auto" placeholder="{% trans 'Password' %}">
        <input type="hidden" name="next" value="{{ next }}">
        <input class="login-button" type="submit" value="{% trans 'Login' %}">
        <a href="{% url 'password_reset' %}" dir="auto" class="login-forgot-password">{% trans 'Forgot your password?' %}</a>
    </form>
</div>
</div>
<script>
    function changeLanguage(newLanguage) {
        $('input[name="language"]').val(newLanguage);
        $('.change-language').submit();
    }
</script>
</body>

</html>
