{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block content %}
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
    </form>
<div class="page">
    <h1>{% trans 'Log in' %}</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="error">
            {% for error in form.non_field_errors %}
                {{ error }}
                <br/>
            {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        <label>{{ field.label }}</label>
        {{ field }}
        {% endfor %}
        <input type="hidden" name="next" value="{{ next }}">
        <input class="button login" type="submit" value="{% trans 'Log in' %}">
        <a href="{% url 'password_reset' %}" dir="auto">{% trans 'Forgot your password?' %}</a>
    </form>
</div>
{% endblock %}



