<!doctype html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE|default:'no' }}">
<head>
    <meta charset="utf-8"/>
    <style>
    </style>
</head>
<body>
<table cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td>
            <p>{% blocktrans %}Here is your login link for today's program at {{ site_name }}.{% endblocktrans %}</p>

            <p>{{ link }}</p>

            <p>{% blocktrans %}Please keep in mind that you should never share your login link.{% endblocktrans %}</p>
        </td>
    </tr>
    </tbody>
    <tfoot>
    {% blocktrans %}{{ site_name }}{% endblocktrans %}
    </tfoot>
</table>
</body>
</html>
