{% load i18n %}
<div id="content" class="content" ng-app="content" ng-controller="contentArray">
  <textarea id="id_data" name="data" class="data ng-hide">{% verbatim %}{{ data }}{% endverbatim %}</textarea>
  <div class="code">
    <div class="pagelet" ng-repeat="pagelet in data track by $index">
      <div layout="row" ui-codemirror="{ onLoad : codemirrorLoaded }" ui-codemirror-opts="editorOpts" ng-model="pagelet.content" flex>
      
      </div>
    </div>
  </div>

  <script>
      var initData = {{ value|safe }};
  </script>

  </div>
</div>
