{% load i18n %}
<div id="content" class="content" ng-app="content" ng-controller="contentArray">

    <textarea id="id_data" name="data" class="data ng-hide">{% verbatim %}{{ data }}{% endverbatim %}</textarea>

    <div class="toolbox">
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'richtext')">{% trans '+ Rich Text' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'text')">{% trans '+ Text' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'toggle')">{% trans '+ Toggle' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'toggleset')">{% trans '+ Toggleset' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'togglesetmulti')">{% trans '+ Toggleset multi' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'conditionalset')">{% trans '+ Conditional set' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'expression')">{% trans '+ Expression' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'form')">{% trans '+ Form' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'quiz')">{% trans '+ Quiz' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'image')">{% trans '+ Image' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'video')">{% trans '+ Video' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'audio')">{% trans '+ Audio' %}</a>
        <a class="btn btn-outline-secondary add" ng-click="add(data, 'file')">{% trans '+ File' %}</a>
    </div>

    <div class="pagelet" ng-repeat="pagelet in data track by $index">

        <div class="ctrl right">
            <a ng-click="up(data, $index)" ng-hide="$first"><i class="fa fa-arrow-up icon-alpha5"></i></a>
            <a ng-click="down(data, $index)" ng-hide="$last"><i class="fa fa-arrow-down icon-alpha5"></i></a>
            <a ng-click="delete(data, $index)"><i class="fa fa-trash icon-alpha5"></i></a>
        </div>

        <h3 ng-if="pagelet.title == undefined" class="title">{% verbatim %}{{ pagelet.content_type }}{% endverbatim %}</h3>
        <h3 ng-if="pagelet.title != undefined" class="title">{% verbatim %}{{ pagelet.title }}{% endverbatim %}</h3>

        <div ng-if="pagelet.content_type == 'richtext'" class="text" ng-controller="markdown">
             <div class="summernote-richtext" ng-model="pagelet.content"></div>
             <div class="field-data">
                <label>{% trans 'Box Color' %}</label>
                 <select class="richtext-box-color" ng-model="pagelet.box">
                     <option value="">None</option>
                     <option value="#d0e5ef">Blue</option>
                     <option value="#f3f3f3">Grey</option>
                     <option value="#fbf2e4">Yellow</option>
                     <option value="#fbe8e4">Red</option>
                     <option value="#e9fbe4">Green</option>
                     <option value="#fbe4f9">Purple</option>
                 </select>
             </div>
        </div>

        <div ng-if="pagelet.content_type == 'text'" class="text" ng-controller="markdown">
            <div class="markdown-guide">
                <p>{% blocktrans %}This element uses <a href="http://markdown-guide.readthedocs.org/en/latest/basics.html">Markdown</a>. For variable replacement use <code ng-non-bindable>&#123;&#123; var_name &#125;&#125;</code>. This markup will be replaced by the user's value for <code>var_name</code>, if available.{% endblocktrans %}</p>
            </div>
            <textarea class="markdown-text" ng-model="pagelet.content"></textarea>
            <div class="markdown-html" ng-bind-html="html"></div>
        </div>

        <div ng-if="pagelet.content_type == 'toggle'" class="toggle" ng-controller="markdown">
            <div class="filer">
                {{ file_widget|safe }}
            </div>
            <div class="field-data">
                <label>{% trans 'Toggle text' %}</label>
                <input type="text" class="wide" ng-model="pagelet.toggle">
            </div>
            <div class="markdown-guide">
                <p>{% blocktrans %}This element uses <a href="http://markdown-guide.readthedocs.org/en/latest/basics.html">Markdown</a>. For variable replacement use <code ng-non-bindable>&#123;&#123; var_name &#125;&#125;</code>. This markup will be replaced by the user's value for <code>var_name</code>, if available.{% endblocktrans %}</p>
            </div>
            <textarea class="markdown-text" ng-model="pagelet.content"></textarea>
            <div class="markdown-html" ng-bind-html="html"></div>
        </div>

        <div ng-if="pagelet.content_type == 'toggleset' || pagelet.content_type == 'togglesetmulti'" class="toggleset">

            <div class="fieldset">
                <div class="field-data">
                    <label>{% trans 'Label' %}</label>
                    <input type="text" class="wide" ng-model="pagelet.content.label">
                </div>
                <div class="field-data">
                    <label>{% trans 'Variable name' %}</label>
                    {% verbatim %}
                    <select opt-title ng-model="pagelet.content.variable_name">
                        <option ng-repeat="variable in variables" ng-value="variable.name" title="{{ variable.admin_note }}">{{ variable.name }}</option>
                    </select>
                    {% endverbatim %}
                </div>
                <div class="field-data pull-down">
                    <label>
                        <input type="checkbox" ng-model="pagelet.content.horizontal"> {% trans 'Horizontal?' %}
                    </label>
                </div>
            </div>

            <div class="toolbox">
                <div class="btn add" ng-click="add(pagelet.content.alternatives, 'toggleitem')">{% trans '+ Item' %}</div>
            </div>

            <h4 class="title">{% trans 'Alternatives' %}</h4>

            <div class="alt" ng-repeat="alt in pagelet.content.alternatives track by $index">

                <div class="ctrl right">
                    <a ng-click="up(pagelet.content.alternatives, $index)" ng-hide="$first"><i class="fa fa-arrow-up icon-alpha5"></i></a>
                    <a ng-click="down(pagelet.content.alternatives, $index)" ng-hide="$last"><i class="fa fa-arrow-down icon-alpha5"></i></a>
                    <a ng-click="delete(pagelet.content.alternatives, $index)"><i class="fa fa-trash icon-alpha5"></i></a>
                </div>

                <div class="fieldset">
                    <div class="field-data">
                        <label>{% trans 'Label' %}</label>
                        <input type="text" class="wide" ng-model="alt.label">
                    </div>
                    <div class="field-data">
                        <label>{% trans 'Value' %}</label>
                        <input type="text" ng-model="alt.value">
                    </div>
                </div>

                <div class="field-data">
                    <label>{% trans 'Text' %}</label>
                    <textarea class="input-xlarge" ng-model="alt.text"></textarea>
                </div>

            </div>
        </div>

        <div ng-if="pagelet.content_type == 'conditionalset'" class="conditionalset">

            <div class="toolbox">
                <div class="btn add" ng-click="add(pagelet.content, 'conditionaltext')">{% trans '+ Conditional text' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'conditionalrichtext')">{% trans '+ Conditional rich text' %}</div>
            </div>

            <div class="field" ng-repeat="content in pagelet.content track by $index">

                <div class="ctrl right">
                    <a ng-click="up(pagelet.content, $index)" ng-hide="$first"><i class="fa fa-arrow-up icon-alpha5"></i></a>
                    <a ng-click="down(pagelet.content, $index)" ng-hide="$last"><i class="fa fa-arrow-down icon-alpha5"></i></a>
                    <a ng-click="delete(pagelet.content, $index)"><i class="fa fa-trash icon-alpha5"></i></a>
                </div>

                <h4 class="title">{% trans 'Text' %}</h4>

                <div class="fieldset">
                    <div class="expression field-data">
                        <label>{% trans 'Expression' %}</label>
                        <string-expression
                            ng-model="content.expression"
                            placeholder="{% trans "Start writing..." %}"
                            header-title="{% trans "Preview" %}"
                            popover-placement="right"
                            popover-title="{% trans "Serafin Expression Syntax" %}"
                            popover-template="template/expression-syntax.html"
                            url="/api/system/evaluate-expression/"
                            ng-cloak>
                        </string-expression>
                    </div>
                </div>
                {% include "expression_syntax.html" %}

                <div ng-if="content.type == 'text'" class="field-data text" ng-controller="markdown">
                    <div class="markdown-guide">
                        <p>{% blocktrans %}This element uses <a href="http://markdown-guide.readthedocs.org/en/latest/basics.html">Markdown</a>. For variable replacement use <code ng-non-bindable>&#123;&#123; var_name &#125;&#125;</code>. This markup will be replaced by the user's value for <code>var_name</code>, if available.{% endblocktrans %}</p>
                    </div>
                    <textarea class="markdown-text" ng-model="content.content"></textarea>
                    <div class="markdown-html" ng-bind-html="html"></div>
                </div>

                <div ng-if="content.type == 'richtext'" class="field-data text" ng-controller="markdown">
                    <div class="summernote-richtext" ng-model="content.content"></div>
                     <div class="field-data">
                        <label>{% trans 'Box Color' %}</label>
                         <select class="richtext-box-color" ng-model="content.box">
                             <option value="">None</option>
                             <option value="#d0e5ef">Blue</option>
                             <option value="#f3f3f3">Grey</option>
                             <option value="#fbf2e4">Yellow</option>
                             <option value="#fbe8e4">Red</option>
                             <option value="#e9fbe4">Green</option>
                             <option value="#fbe4f9">Purple</option>
                         </select>
                     </div>
                </div>
            </div>
        </div>

        <div ng-if="pagelet.content_type == 'expression'" class="expression">
            <div class="field">
                <div class="fieldset">
                    <div class="expression field-data">
                        <label>{% trans "Variable name" %}</label>
                        {% verbatim %}
                        <select opt-title ng-model="pagelet.content.variable_name">
                            <option ng-repeat="variable in variables" ng-value="variable.name" title="{{ variable.admin_note }}">{{ variable.name }}</option>
                        </select>
                        {% endverbatim %}
                        &nbsp;&nbsp;=
                    </div>
                <div class="fieldset">
                </div>
                    <div class="expression field-data">
                        <label>{% trans 'Expression' %}</label>
                        <string-expression
                            ng-model="pagelet.content.value"
                            placeholder="{% trans "Start writing..." %}"
                            header-title="{% trans "Preview" %}"
                            popover-placement="right"
                            popover-title="{% trans "Serafin Expression Syntax" %}"
                            popover-template="template/expression-syntax.html"
                            url="/api/system/evaluate-expression/"
                            ng-cloak>
                        </string-expression>
                    </div>
                </div>
            </div>
            {% include "expression_syntax.html" %}
        </div>

        <div ng-if="pagelet.content_type == 'form'" class="form">

            <div class="toolbox">
                <div class="btn add" ng-click="add(pagelet.content, 'numeric')">{% trans '+ Numeric' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'string')">{% trans '+ String' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'textarea')">{% trans '+ Text' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'multiplechoice')">{% trans '+ Multiple choice' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'multipleselection')">{% trans '+ Multiple selection' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'phone')">{% trans '+ Phone' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'email')">{% trans '+ Email' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'password')">{% trans '+ Password' %}</div>
            </div>

            <div class="field" ng-repeat="field in pagelet.content track by $index">

                <div class="ctrl right">
                    <a ng-click="up(pagelet.content, $index)" ng-hide="$first"><i class="fa fa-arrow-up icon-alpha5"></i></a>
                    <a ng-click="down(pagelet.content, $index)" ng-hide="$last"><i class="fa fa-arrow-down icon-alpha5"></i></a>
                    <a ng-click="delete(pagelet.content, $index)"><i class="fa fa-trash icon-alpha5"></i></a>
                </div>

                <h4 class="title">{% verbatim %}{{ field.field_type }}{% endverbatim %}</h4>

                <div class="fieldset">
                    <div class="field-data" ng-if="field.field_type != 'hiddenfield'">
                        <label>{% trans 'Label' %}</label>
                        <input type="text" class="wide" ng-model="field.label">
                    </div>
                    <div class="field-data">
                        <label>{% trans 'Variable name' %}</label>
                        {% verbatim %}
                        <select opt-title ng-model="field.variable_name">
                            <option ng-repeat="variable in variables" ng-value="variable.name" title="{{ variable.admin_note }}">{{ variable.name }}</option>
                        </select>
                        {% endverbatim %}
                    </div>
                </div>

                <div class="fieldset">
                    <div class="field-data" ng-if="field.field_type != 'multipleselection'">
                        <label>{% trans 'Value' %}</label>
                        <input type="text" ng-model="field.value">
                    </div>
                    <div class="field-data pull-down" ng-if="field.field_type != 'hiddenfield'">
                        <label>
                            <input type="checkbox" ng-model="field.required"> {% trans 'Required?' %}
                        </label>
                    </div>
                    <div class="field-data pull-down" ng-if="field.field_type == 'multiplechoice' || field.field_type == 'multipleselection'">
                        <label>
                            <input type="checkbox" ng-model="field.horizontal"> {% trans 'Horizontal?' %}
                        </label>
                    </div>
                </div>

                <div class="fieldset">
                    <div class="field-data" ng-if="field.field_type == 'numeric'">
                        <label>{% trans 'Lower limit' %}</label>
                        <input type="text" ng-model="field.lower_limit">
                    </div>
                    <div class="field-data" ng-if="field.field_type == 'numeric'">
                        <label>{% trans 'Upper limit' %}</label>
                        <input type="text" ng-model="field.upper_limit">
                    </div>
                </div>

                <div class="field-data" ng-if="field.field_type == 'multiplechoice' || field.field_type == 'multipleselection'">
                    <div class="toolbox">
                        <div class="btn add" ng-click="add(field.alternatives, 'alternative')">{% trans '+ Alternative' %}</div>
                    </div>

                    <h5 class="title">{% trans 'Alternatives' %}</h5>

                    <div class="alt" ng-repeat="alt in field.alternatives track by $index">

                        <div class="ctrl right">
                            <a ng-click="up(field.alternatives, $index)" ng-hide="$first"><i class="fa fa-arrow-up icon-alpha5"></i></a>
                            <a ng-click="down(field.alternatives, $index)" ng-hide="$last"><i class="fa fa-arrow-down icon-alpha5"></i></a>
                            <a ng-click="delete(field.alternatives, $index)"><i class="fa fa-trash icon-alpha5"></i></a>
                        </div>

                        <div class="fieldset">
                            <div>
                                <label>{% trans 'Label' %}</label>
                                <input type="text" class="wide" ng-model="alt.label">
                            </div>
                            <div>
                                <label>{% trans 'Value' %}</label>
                                <input type="text" ng-model="alt.value">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div ng-if="pagelet.content_type == 'quiz'" class="quiz">

            <div class="toolbox">
                <div class="btn add" ng-click="add(pagelet.content, 'question')">{% trans '+ Question' %}</div>
            </div>


            <div class="field" ng-repeat="question in pagelet.content track by $index">

                <div class="ctrl right">
                    <a ng-click="up(pagelet.content, $index)" ng-hide="$first"><i class="fa fa-arrow-up icon-alpha5"></i></a>
                    <a ng-click="down(pagelet.content, $index)" ng-hide="$last"><i class="fa fa-arrow-down icon-alpha5"></i></a>
                    <a ng-click="delete(pagelet.content, $index)"><i class="fa fa-trash icon-alpha5"></i></a>
                </div>

                <h4 class="title">{% trans 'Question' %}</h4>

                <div class="fieldset">
                    <div class="field-data">
                        <label>{% trans 'Question' %}</label>
                        <input type="text" class="wide" ng-model="question.question">
                    </div>
                    <div class="field-data">
                        <label>{% trans 'Variable name' %}</label>
                        {% verbatim %}
                        <select opt-title ng-model="question.variable_name">
                            <option ng-repeat="variable in variables" ng-value="variable.name" title="{{ variable.admin_note }}">{{ variable.name }}</option>
                        </select>
                        {% endverbatim %}
                    </div>
                </div>

                <div class="field-data">
                    <div class="toolbox">
                        <div class="btn add" ng-click="add(question.alternatives, 'alternative')">{% trans '+ Alternative' %}</div>
                    </div>

                    <h5 class="title">{% trans 'Alternatives' %}</h5>

                    <div class="alt" ng-repeat="alt in question.alternatives track by $index">

                        <div class="ctrl right">
                            <a ng-click="up(question.alternatives, $index)" ng-hide="$first"><i class="fa fa-arrow-up icon-alpha5"></i></a>
                            <a ng-click="down(question.alternatives, $index)" ng-hide="$last"><i class="fa fa-arrow-down icon-alpha5"></i></a>
                            <a ng-click="delete(question.alternatives, $index)"><i class="fa fa-trash icon-alpha5"></i></a>
                        </div>

                        <div class="fieldset">
                            <div>
                                <label>{% trans 'Label' %}</label>
                                <input type="text" class="wide" ng-model="alt.label">
                            </div>
                            <div>
                                <label>{% trans 'Value' %}</label>
                                <input type="text" ng-model="alt.value">
                            </div>
                            <div class="pull-down">
                                <label>
                                    <input type="checkbox" ng-model="alt.correct"> {% trans 'Correct?' %}
                                </label>
                            </div>
                        </div>

                        <div class="field-data">
                            <label>{% trans 'Response' %}</label>
                            <textarea class="input-xlarge" ng-model="alt.response"></textarea>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div ng-if="pagelet.content_type == 'image'" class="image">
            <div class="filer">
                {{ file_widget|safe }}
            </div>
            <div class="field-data">
                <label>{% trans 'Alt title' %}</label>
                <input type="text" ng-model="pagelet.content.alt">
            </div>
            <div class="field-data">
                <label>{% trans 'Title' %}</label>
                <input type="text" class="wide" ng-model="pagelet.content.title">
            </div>
        </div>

        <div ng-if="pagelet.content_type == 'video'" class="video">
            <div class="filer">
                {{ file_widget|safe }}
            </div>
            <div class="field-data">
                <label>{% trans 'Title' %}</label>
                <input type="text" class="wide" ng-model="pagelet.content.title">
            </div>
        </div>

        <div ng-if="pagelet.content_type == 'audio'" class="audio">
            <div class="filer">
                {{ file_widget|safe }}
            </div>
            <div class="field-data">
                <label>{% trans 'Title' %}</label>
                <input type="text" class="wide" ng-model="pagelet.content.title">
            </div>
        </div>

        <div ng-if="pagelet.content_type == 'file'" class="file">
            <div class="filer">
                {{ file_widget|safe }}
            </div>
            <div class="field-data">
                <label>{% trans 'Title' %}</label>
                <input type="text" class="wide" ng-model="pagelet.content.title">
            </div>
        </div>
    </div>
    <script>
        var initData = {{ value|safe }};
        var filerApi = '{{ filer_api }}';
        var reservedVars = {{ reserved_vars|default:'undefined'|safe }};
        $(function () {
            $('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</div>
