{% load i18n %}
<div id="content" class="content" ng-app="content" ng-controller="contentArray">

    <textarea id="id_data" name="data" class="data ng-hide">{% verbatim %}{{ data }}{% endverbatim %}</textarea>

    <div class="toolbox">
        <div class="btn add" ng-click="add(data, 'text')">{% trans '+ Text' %}</div>
        <div class="btn add" ng-click="add(data, 'toggle')">{% trans '+ Toggle' %}</div>
        <div class="btn add" ng-click="add(data, 'toggleset')">{% trans '+ Toggleset' %}</div>
        <div class="btn add" ng-click="add(data, 'togglesetmulti')">{% trans '+ Toggleset multi' %}</div>
        <div class="btn add" ng-click="add(data, 'conditionalset')">{% trans '+ Conditional set' %}</div>
        <div class="btn add" ng-click="add(data, 'form')">{% trans '+ Form' %}</div>
        <div class="btn add" ng-click="add(data, 'quiz')">{% trans '+ Quiz' %}</div>
        <div class="btn add" ng-click="add(data, 'image')">{% trans '+ Image' %}</div>
        <div class="btn add" ng-click="add(data, 'video')">{% trans '+ Video' %}</div>
        <div class="btn add" ng-click="add(data, 'audio')">{% trans '+ Audio' %}</div>
        <div class="btn add" ng-click="add(data, 'file')">{% trans '+ File' %}</div>

    <div class="pagelet" ng-repeat="pagelet in data track by $index">

        <div class="ctrl right">
            <a ng-click="up(data, $index)" ng-hide="$first"><i class="icon-arrow-up icon-alpha5"></i></a>
            <a ng-click="down(data, $index)" ng-hide="$last"><i class="icon-arrow-down icon-alpha5"></i></a>
            <a ng-click="delete(data, $index)"><i class="icon-trash icon-alpha5"></i></a>
        </div>

        <h3 class="title">{% verbatim %}{{ pagelet.content_type }}{% endverbatim %}</h3>

        <div ng-if="pagelet.content_type == 'text'" class="text" ng-controller="markdown">
            <div class="markdown-guide">
                <p>{% blocktrans %}This element uses <a href="http://markdown-guide.readthedocs.org/en/latest/basics.html">Markdown</a>. For variable replacement use <code ng-non-bindable>&#123;&#123; var_name &#125;&#125;</code>. This markup will be replaced by the user's value for <code>var_name</code>, if available.{% endblocktrans %}</p>
            </div>
            <textarea class="markdown-text" ng-model="pagelet.content"></textarea>
            <div class="markdown-html" ng-bind-html="html"></div>
        </div>

        <div ng-if="pagelet.content_type == 'toggle'" class="toggle" ng-controller="markdown">
            <div class="filer">
                {{ file_widget|safe }}
            </div>
            <div class="field-data">
                <label>{% trans 'Toggle text' %}</label>
                <input type="text" class="wide" ng-model="pagelet.toggle">
            </div>
            <div class="markdown-guide">
                <p>{% blocktrans %}This element uses <a href="http://markdown-guide.readthedocs.org/en/latest/basics.html">Markdown</a>. For variable replacement use <code ng-non-bindable>&#123;&#123; var_name &#125;&#125;</code>. This markup will be replaced by the user's value for <code>var_name</code>, if available.{% endblocktrans %}</p>
            </div>
            <textarea class="markdown-text" ng-model="pagelet.content"></textarea>
            <div class="markdown-html" ng-bind-html="html"></div>
        </div>

        <div ng-if="pagelet.content_type == 'toggleset' || pagelet.content_type == 'togglesetmulti'" class="toggleset">

            <div class="fieldset">
                <div class="field-data">
                    <label>{% trans 'Label' %}</label>
                    <input type="text" class="wide" ng-model="pagelet.content.label">
                </div>
                <div class="field-data">
                    <label>{% trans 'Variable name' %}</label>
                    {% verbatim %}
                    <select opt-title ng-model="pagelet.content.variable_name">
                        <option ng-repeat="variable in variables" ng-value="variable.name" title="{{ variable.admin_note }}">{{ variable.name }}</option>
                    </select>
                    {% endverbatim %}
                </div>
                <div class="field-data pull-down">
                    <label>
                        <input type="checkbox" ng-model="pagelet.content.horizontal"> {% trans 'Horizontal?' %}
                    </label>
                </div>
            </div>

            <div class="toolbox">
                <div class="btn add" ng-click="add(pagelet.content.alternatives, 'toggleitem')">{% trans '+ Item' %}</div>
            </div>

            <h4 class="title">{% trans 'Alternatives' %}</h4>

            <div class="alt" ng-repeat="alt in pagelet.content.alternatives track by $index">

                <div class="ctrl right">
                    <a ng-click="up(pagelet.content.alternatives, $index)" ng-hide="$first"><i class="icon-arrow-up icon-alpha5"></i></a>
                    <a ng-click="down(pagelet.content.alternatives, $index)" ng-hide="$last"><i class="icon-arrow-down icon-alpha5"></i></a>
                    <a ng-click="delete(pagelet.content.alternatives, $index)"><i class="icon-trash icon-alpha5"></i></a>
                </div>

                <div class="fieldset">
                    <div class="field-data">
                        <label>{% trans 'Label' %}</label>
                        <input type="text" class="wide" ng-model="alt.label">
                    </div>
                    <div class="field-data">
                        <label>{% trans 'Value' %}</label>
                        <input type="text" ng-model="alt.value">
                    </div>
                </div>

                <div class="field-data">
                    <label>{% trans 'Text' %}</label>
                    <textarea class="input-xlarge" ng-model="alt.text"></textarea>
                </div>

            </div>
        </div>

        <div ng-if="pagelet.content_type == 'conditionalset'" class="conditionalset">

            <div class="toolbox">
                <div class="btn add" ng-click="add(pagelet.content, 'conditionaltext')">{% trans '+ Conditional text' %}</div>
            </div>

            <div class="field" ng-repeat="content in pagelet.content track by $index">

                <div class="ctrl right">
                    <a ng-click="up(pagelet.content, $index)" ng-hide="$first"><i class="icon-arrow-up icon-alpha5"></i></a>
                    <a ng-click="down(pagelet.content, $index)" ng-hide="$last"><i class="icon-arrow-down icon-alpha5"></i></a>
                    <a ng-click="delete(pagelet.content, $index)"><i class="icon-trash icon-alpha5"></i></a>
                </div>

                <h4 class="title">{% trans 'Text' %}</h4>

                <div class="fieldset" ng-repeat="condition in content.conditions track by $index">

                    <div class="field-data" ng-if="!$first">
                      <label>{% trans 'Logical operator' %}</label>
                        {% verbatim %}
                        <select class="input-small" ng-model="condition.logical_operator" ng-required ng-options="o for o in logical_operators"></select>
                        {% endverbatim %}
                    </div>

                    <div class="field-data">
                        <label>{% trans 'Variable name' %}</label>
                        {% verbatim %}
                        <select opt-title ng-model="condition.var_name">
                            <option ng-repeat="variable in variables" ng-value="variable.name" title="{{ variable.admin_note }}">{{ variable.name }}</option>
                        </select>
                        {% endverbatim %}
                    </div>
                    <div class="field-data">
                        <label>{% trans 'Condition' %}</label>
                        <select ng-model="condition.operator" class="input-small">
                            <option value="eq"> = </option>
                            <option value="ne"> &ne; </option>
                            <option value="lt"> &lt; </option>
                            <option value="le"> &le; </option>
                            <option value="gt"> &gt; </option>
                            <option value="ge"> &ge; </option>
                            <option value="in"> {% trans 'contains' %} </option>
                        </select>
                    </div>
                    <div class="field-data">
                        <label>{% trans 'Value' %}</label>
                        <autocomplete-search placeholder="{% trans 'Enter a value or variable name' %}" ng-model="condition.value"
                            url="/api/system/variables/search/"></autocomplete-search>
                    </div>
                    <a class="trash" ng-click="delete(content.conditions, $index)"><i class="icon-trash icon-alpha5"></i></a>
                </div>
                <div class="btn" ng-click="add(content.conditions, 'condition')">{% trans '+ Condition' %}</div>

                <div class="field-data text" ng-controller="markdown">
                    <div class="markdown-guide">
                        <p>{% blocktrans %}This element uses <a href="http://markdown-guide.readthedocs.org/en/latest/basics.html">Markdown</a>. For variable replacement use <code ng-non-bindable>&#123;&#123; var_name &#125;&#125;</code>. This markup will be replaced by the user's value for <code>var_name</code>, if available.{% endblocktrans %}</p>
                    </div>
                    <textarea class="markdown-text" ng-model="content.content"></textarea>
                    <div class="markdown-html" ng-bind-html="html"></div>
                </div>
            </div>
        </div>

        <div ng-if="pagelet.content_type == 'form'" class="form">

            <div class="toolbox">
                <div class="btn add" ng-click="add(pagelet.content, 'numeric')">{% trans '+ Numeric' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'string')">{% trans '+ String' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'textarea')">{% trans '+ Text' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'multiplechoice')">{% trans '+ Multiple choice' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'multipleselection')">{% trans '+ Multiple selection' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'email')">{% trans '+ Email' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'password')">{% trans '+ Password' %}</div>
                <div class="btn add" ng-click="add(pagelet.content, 'hiddenfield')">{% trans '+ Hidden field' %}</div>
            </div>

            <div class="field" ng-repeat="field in pagelet.content track by $index">

                <div class="ctrl right">
                    <a ng-click="up(pagelet.content, $index)" ng-hide="$first"><i class="icon-arrow-up icon-alpha5"></i></a>
                    <a ng-click="down(pagelet.content, $index)" ng-hide="$last"><i class="icon-arrow-down icon-alpha5"></i></a>
                    <a ng-click="delete(pagelet.content, $index)"><i class="icon-trash icon-alpha5"></i></a>
                </div>

                <h4 class="title">{% verbatim %}{{ field.field_type }}{% endverbatim %}</h4>

                <div class="fieldset">
                    <div class="field-data" ng-if="field.field_type != 'hiddenfield'">
                        <label>{% trans 'Label' %}</label>
                        <input type="text" class="wide" ng-model="field.label">
                    </div>
                    <div class="field-data">
                        <label>{% trans 'Variable name' %}</label>
                        {% verbatim %}
                        <select opt-title ng-model="field.variable_name">
                            <option ng-repeat="variable in variables" ng-value="variable.name" title="{{ variable.admin_note }}">{{ variable.name }}</option>
                        </select>
                        {% endverbatim %}
                    </div>
                </div>

                <div class="fieldset">
                    <div class="field-data" ng-if="field.field_type != 'multipleselection'">
                        <label>{% trans 'Value' %}</label>
                        <input type="text" ng-model="field.value">
                    </div>
                    <div class="field-data pull-down" ng-if="field.field_type != 'hiddenfield'">
                        <label>
                            <input type="checkbox" ng-model="field.required"> {% trans 'Required?' %}
                        </label>
                    </div>
                    <div class="field-data pull-down" ng-if="field.field_type == 'multiplechoice' || field.field_type == 'multipleselection'">
                        <label>
                            <input type="checkbox" ng-model="field.horizontal"> {% trans 'Horizontal?' %}
                        </label>
                    </div>
                </div>

                <div class="fieldset">
                  {% verbatim %}
                  <script type="text/ng-template" id="template/string-expression.html">
                    <div class="expression-widget-wrapper">
                      <input type="text" placeholder="{{ placeholder }}"
                             ng-model="expression.query"
                             ng-change="addQuery('{{ url }}')">
                      <div class="preview-box">
                        <div class="header">
                          <span class="title">{{ headerTitle }}</span>
                          <div class="ctrl right">
                            <i class="icon-question-sign"
                                popover-placement="{{ popover.placement }}" popover="{{ popover.content }}"></i>
                          </div>
                        </div>
                        <div class="validator">
                          <p class="expression">
                            <span>{{ expression.preview }}</span>
                          </p>
                          <p class="validation-message" ng-if="expression.response.reason">
                            <span>{{ expression.response.reason }}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </script>
                  {% endverbatim %}
                  <string-expression
                      placeholder="{% trans "Start writing..." %}"
                      header-title="{% trans "Preview" %}"
                      popover-placement="right"
                      popover-title="{% trans "Serafin Expression Syntax" %}"
                      popover-template="template/expression-syntax.html"
                      url="/api/system/evaluate-expression/"
                      ng-cloak>
                  </string-expression>
                </div>

                <div class="fieldset">
                    <div class="field-data" ng-if="field.field_type == 'numeric'">
                        <label>{% trans 'Lower limit' %}</label>
                        <input type="text" ng-model="field.lower_limit">
                    </div>
                    <div class="field-data" ng-if="field.field_type == 'numeric'">
                        <label>{% trans 'Upper limit' %}</label>
                        <input type="text" ng-model="field.upper_limit">
                    </div>
                </div>

                <div class="field-data" ng-if="field.field_type == 'multiplechoice' || field.field_type == 'multipleselection'">
                    <div class="toolbox">
                        <div class="btn add" ng-click="add(field.alternatives, 'alternative')">{% trans '+ Alternative' %}</div>
                    </div>

                    <h5 class="title">{% trans 'Alternatives' %}</h5>

                    <div class="alt" ng-repeat="alt in field.alternatives track by $index">

                        <div class="ctrl right">
                            <a ng-click="up(field.alternatives, $index)" ng-hide="$first"><i class="icon-arrow-up icon-alpha5"></i></a>
                            <a ng-click="down(field.alternatives, $index)" ng-hide="$last"><i class="icon-arrow-down icon-alpha5"></i></a>
                            <a ng-click="delete(field.alternatives, $index)"><i class="icon-trash icon-alpha5"></i></a>
                        </div>

                        <div class="fieldset">
                            <div>
                                <label>{% trans 'Label' %}</label>
                                <input type="text" class="wide" ng-model="alt.label">
                            </div>
                            <div>
                                <label>{% trans 'Value' %}</label>
                                <input type="text" ng-model="alt.value">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div ng-if="pagelet.content_type == 'quiz'" class="quiz">

            <div class="toolbox">
                <div class="btn add" ng-click="add(pagelet.content, 'question')">{% trans '+ Question' %}</div>
            </div>


            <div class="field" ng-repeat="question in pagelet.content track by $index">

                <div class="ctrl right">
                    <a ng-click="up(pagelet.content, $index)" ng-hide="$first"><i class="icon-arrow-up icon-alpha5"></i></a>
                    <a ng-click="down(pagelet.content, $index)" ng-hide="$last"><i class="icon-arrow-down icon-alpha5"></i></a>
                    <a ng-click="delete(pagelet.content, $index)"><i class="icon-trash icon-alpha5"></i></a>
                </div>

                <h4 class="title">{% trans 'Question' %}</h4>

                <div class="fieldset">
                    <div class="field-data">
                        <label>{% trans 'Question' %}</label>
                        <input type="text" class="wide" ng-model="question.question">
                    </div>
                    <div class="field-data">
                        <label>{% trans 'Variable name' %}</label>
                        {% verbatim %}
                        <select opt-title ng-model="question.variable_name">
                            <option ng-repeat="variable in variables" ng-value="variable.name" title="{{ variable.admin_note }}">{{ variable.name }}</option>
                        </select>
                        {% endverbatim %}
                    </div>
                </div>

                <div class="field-data">
                    <div class="toolbox">
                        <div class="btn add" ng-click="add(question.alternatives, 'alternative')">{% trans '+ Alternative' %}</div>
                    </div>

                    <h5 class="title">{% trans 'Alternatives' %}</h5>

                    <div class="alt" ng-repeat="alt in question.alternatives track by $index">

                        <div class="ctrl right">
                            <a ng-click="up(question.alternatives, $index)" ng-hide="$first"><i class="icon-arrow-up icon-alpha5"></i></a>
                            <a ng-click="down(question.alternatives, $index)" ng-hide="$last"><i class="icon-arrow-down icon-alpha5"></i></a>
                            <a ng-click="delete(question.alternatives, $index)"><i class="icon-trash icon-alpha5"></i></a>
                        </div>

                        <div class="fieldset">
                            <div>
                                <label>{% trans 'Label' %}</label>
                                <input type="text" class="wide" ng-model="alt.label">
                            </div>
                            <div>
                                <label>{% trans 'Value' %}</label>
                                <input type="text" ng-model="alt.value">
                            </div>
                            <div class="pull-down">
                                <label>
                                    <input type="checkbox" ng-model="alt.correct"> {% trans 'Correct?' %}
                                </label>
                            </div>
                        </div>

                        <div class="field-data">
                            <label>{% trans 'Response' %}</label>
                            <textarea class="input-xlarge" ng-model="alt.response"></textarea>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div ng-if="pagelet.content_type == 'image'" class="image">
            <div class="filer">
                {{ file_widget|safe }}
            </div>
            <div class="field-data">
                <label>{% trans 'Alt title' %}</label>
                <input type="text" ng-model="pagelet.content.alt">
            </div>
            <div class="field-data">
                <label>{% trans 'Title' %}</label>
                <input type="text" ng-model="pagelet.content.title">
            </div>
        </div>

        <div ng-if="pagelet.content_type == 'video'" class="video">
            <div class="filer">
                {{ file_widget|safe }}
            </div>
            <div class="field-data">
                <label>{% trans 'Title' %}</label>
                <input type="text" ng-model="pagelet.content.title">
            </div>
        </div>

        <div ng-if="pagelet.content_type == 'audio'" class="audio">
            <div class="filer">
                {{ file_widget|safe }}
            </div>
            <div class="field-data">
                <label>{% trans 'Title' %}</label>
                <input type="text" ng-model="pagelet.content.title">
            </div>
        </div>

        <div ng-if="pagelet.content_type == 'file'" class="file">
            <div class="filer">
                {{ file_widget|safe }}
            </div>
            <div class="field-data">
                <label>{% trans 'Title' %}</label>
                <input type="text" ng-model="pagelet.content.title">
            </div>
        </div>
    </div>
    <script>
        var initData = {{ value|safe }};
        var filerApi = '{{ filer_api }}';
        var reservedVars = {{ reserved_vars|default:'undefined'|safe }};
        $(function () {
          $('[data-toggle="popover"]').popover();
        });
    </script>

    {# Angular templates #}
    <script type="text/ng-template" id="template/expression-syntax.html">

      {# Template for Expression widget syntax help popover #}
      <p>{% blocktrans %}
        The Serafin expression "mini-language" has a predefined set of operators
        and functions which can be used to write simple expressions which can help
        making decisions in user programs. Click the links below to expand syntax
        descriptions.
      {% endblocktrans %}</p>

      <div class="accordion" id="syntax-collapse">
        {# Grouping #}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#syntax-collapse"
               href="#Grouping">
              {% trans "Grouping" %}
            </a>
          </div>
          <div id="Grouping" class="accordion-body collapse in">
            <div class="accordion-inner">
              <h5>{% trans "Grouping" %}</h5>

              <p>{% trans "Expression can be grouped by putting them in parentheses." %}</p>
              <h6>{% trans "Evaluation order" %}</h6>
              {% blocktrans %}
                <p>
                  Normally, expressions will be evaluated left-to-right. For example the expression
                  <span class="label label-info">1 + 1 * 2</span> will return the value 3,
                  because it is evaluated like <span class="label label-info">1 + (1 * 2)</span>.
                  By grouping expressions in parentheses you can control the evaluation order.
                </p>
                <dl class="dl-horizontal column35pst">
                  <dt><span class="label label-info">1 + 1 * 2 = 3</span></dt>
                    <dd>Because of default left-to-right evaluation. Evaluates like
                      <span class="label label-info">1 + (1 * 2)</span></dd>
                  <dt><span class="label label-info">(1 + 1) * 2 = 4</span></dt>
                    <dd>Because it is explicitly grouped in parentheses.</dd>
                </dl>
              {% endblocktrans %}
            </div>
          </div>
        </div>

        {# Variables #}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#syntax-collapse"
               href="#Variables">
              {% trans "Variables" %}
            </a>
          </div>
          <div id="Variables" class="accordion-body collapse">
            <div class="accordion-inner">
              <h5>{% trans "Variables" %}</h5>
              {% blocktrans %}
                Variables must be prefixed with <span class="label label-info">$</span> like for
                example <span class="label label-info">$MyLittlePony</span>. Any variable must
                be pre-defined and will be looked up whenever encountered.
                If a variable is not found, the evaluation will fail with an error message.
              {% endblocktrans %}
            </div>
          </div>
        </div>

        {# Operators #}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#syntax-collapse"
               href="#Operators">
              {% trans "Operators" %}
            </a>
          </div>
          <div id="Operators" class="accordion-body collapse">
            <div class="accordion-inner">
              <h5>{% trans "Operators" %}</h5>
              {% blocktrans %}
                We have two set of expression types; simple arithmetic expressions
                and boolean expressions. Expression evaluation between mixed types are not
                supported, and will either throw an error or yield incorrect or unpredictable results.
              {% endblocktrans %}

              <h6>{% trans "Arithmetic operators" %}</h6>

              <div class="span5">
                <ul class="unstyled">
                  <li>{% trans "Addition" %} <span class="right label label-info">( + )</span></li>
                  <li>{% trans "Subtraction" %} <span class="right label label-info">( - )</span></li>
                  <li>{% trans "Division" %} <span class="right label label-info">( / )</span></li>
                </ul>
              </div>
              <div class="span6">
                <ul class="unstyled">
                  <li>{% trans "Multiplication" %} <span class="right label label-info">( * )</span></li>
                  <li>{% trans "Factorisation" %} <span class="right label label-info">( ^ )</span></li>
                  <li>{% trans "Modulus" %} <span class="right label label-info">( % )</span></li>
                </ul>
              </div>

              <h6>{% trans "Boolean operators" %}</h6>

              <div class="span5">
                <ul class="unstyled">
                  <li>{% trans "Equal" %}<span class="right label label-info">( == )</span></li>
                  <li>{% trans "Less than" %}<span class="right label label-info">( < )</span></li>
                  <li>{% trans "Greater than" %}<span class="right label label-info">( > )</span></li>
                  <li>{% trans "Contains" %} <span class="right label label-info">( in )</span></li>
                  <li>{% trans "AND" %} <span class="right label label-info">( & )</span></li>
                </ul>
              </div>
              <div class="span6">
                <ul class="unstyled">
                  <li>{% trans "Not equal" %}<span class="right label label-info">( != )</span></li>
                  <li>{% trans "Less or equal" %}<span class="right label label-info">( <= )</span></li>
                  <li>{% trans "Greater or equal" %} <span class="right label label-info">( >= )</span></li>
                  <li>{% trans "OR" %} <span class="right label label-info">( | )</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        {# Functions #}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#syntax-collapse"
               href="#Functions">
              {% trans "Functions" %}
            </a>
          </div>
          <div id="Functions" class="accordion-body collapse">
            <div class="accordion-inner">
              <h5>{% trans "Functions" %}</h5>
              {% blocktrans %}
                Some basic functions are supported. Functions are applied by passing a value or
                an expression which returns a value to it.
              {% endblocktrans %}
              <h6>{% trans "Examples" %}</h6>
              <ul>
                <li><span class="label label-info">round(6.34)</span>{% trans "Returns the value" %} 6</li>
                <li><span class="label label-info">sin(3 * (2^4)) + abs(9.23)</span>{% trans "Returns the value" %} 0.6298283755944591</li>
              </ul>
              <div class="span6">
                <ul class="unstyled">
                  <li><a href="http://en.wikipedia.org/wiki/Law_of_sines" target="_blank">{% trans "Sine" %}</a>
                    <span class="right label label-info">sin</span>
                  </li>
                  <li><a href="http://en.wikipedia.org/wiki/Law_of_cosines" target="_blank">{% trans "Cosines" %}</a>
                    <span class="right label label-info">cos</span>
                  </li>
                  <li><a href="http://en.wikipedia.org/wiki/Law_of_tangents" target="_blank">{% trans "Tangents" %}</a>
                    <span class="right label label-info">tan</span>
                  </li>
                  <li><a href="http://en.wikipedia.org/wiki/Absolute_value" target="_blank">{% trans "Absolute value" %}</a>
                    <span class="right label label-info">abs</span>
                  </li>
                </ul>
              </div>
              <div class="span5">
                <ul class="unstyled">
                  <li><a href="http://en.wikipedia.org/wiki/Truncation" target="_blank">{% trans "Truncate" %}</a>
                    <span class="right label label-info">trunc</span>
                  </li>
                  <li><a href="http://en.wikipedia.org/wiki/Rounding" target="_blank">{% trans "Round" %}</a>
                    <span class="right label label-info">round</span>
                  </li>
                  <li>{% trans "Sign digit" %} <strong>*</strong><span class="right label label-info">sign</span></li>
                </ul>
              </div>

              <div class="span12">
                <p><strong>*</strong>
                  {% blocktrans %}
                    The <span class="label label-info">sign</span> function returns
                    <span class="label label-info">-1</span> if passed a negative value,
                    <span class="label label-info">0</span> if passed zero and
                    <span class="label label-info">1</span> if passed a positive value.
                  {% endblocktrans %}
                </p>
              </div>
            </div>
          </div>
        </div>

        {# Constants #}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#syntax-collapse"
               href="#Constants">
              {% trans "Constants" %}
            </a>
          </div>
          <div id="Constants" class="accordion-body collapse">
            <div class="accordion-inner">
              <h5>{% trans "Constants" %}</h5>
              {% trans "Supported constants are" %}
              <a href="http://en.wikipedia.org/wiki/E_%28mathematical_constant%29"
                 _target="blank"><span class="label label-info">E (Euler's number)</span></a>
              {% trans "and" %}
              <a href="http://en.wikipedia.org/wiki/Pi" target="_blank"><span
                  class="label label-info">PI (π)</span></a>

              <ul>
                <li><span class="label label-info">E</span> {% trans "provides the mathematical constant" %} E (2.718281... {% trans "to available precision" %})</li>
                <li><span class="label label-info">PI</span> {% trans "provides the mathematical constant" %} π (3.141592... {% trans "to available precision" %})</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </script>
</div>
