{% load i18n %}
<div id="content" class="content" ng-app="content" ng-controller="contentArray">

    <textarea id="id_data" name="data" class="data ng-hide">{% verbatim %}{{ data }}{% endverbatim %}</textarea>

    <div class="toolbox">
        <div class="btn add" ng-click="add(data, 'text')">{% trans 'Add text' %}</div>
        <div class="btn add" ng-click="add(data, 'form')">{% trans 'Add form' %}</div>
        <div class="btn add" ng-click="add(data, 'image')">{% trans 'Add image' %}</div>
        <div class="btn add" ng-click="add(data, 'video')">{% trans 'Add video' %}</div>
        <div class="btn add" ng-click="add(data, 'audio')">{% trans 'Add audio' %}</div>
        <div class="btn add" ng-click="add(data, 'file')">{% trans 'Add file' %}</div>

    <div class="pagelet" ng-repeat="pagelet in data track by $index">

        <div class="ctrl right">
            <a ng-click="up(data, $index)" ng-hide="$first"><i class="icon-arrow-up icon-alpha5"></i></a>
            <a ng-click="down(data, $index)" ng-hide="$last"><i class="icon-arrow-down icon-alpha5"></i></a>
            <a ng-click="delete(data, $index)"><i class="icon-trash icon-alpha5"></i></a>
        </div>

        <h3 class="title">{% verbatim %}{{ pagelet.content_type }}{% endverbatim %}</h3>

        <div ng-switch on="pagelet.content_type">

            <div ng-switch-when="text" class="text" ng-controller="markdown">
                <div class="markdown-guide">
                    <p>{% trans 'This element uses <a href="http://markdown-guide.readthedocs.org/en/latest/basics.html">Markdown</a>.' %} {% trans 'For variable replacement use' %} <code ng-non-bindable>{% verbatim %}{{ var_name }}{% endverbatim %}</code>. {% trans "This markup will be replaced by the user's value for <code>var_name</code>, if available." %}</p>
                </div>
                <textarea class="markdown-text" ng-model="pagelet.content.text" ng-change="md2html()"></textarea>
                <div class="markdown-html" ng-bind-html="html"></div>
            </div>

            <div ng-switch-when="form" class="form">

                <div class="toolbox">
                    <div class="btn add" ng-click="add(pagelet.content, 'numeric')">{% trans 'Add numeric' %}</div>
                    <div class="btn add" ng-click="add(pagelet.content, 'string')">{% trans 'Add string' %}</div>
                    <div class="btn add" ng-click="add(pagelet.content, 'textarea')">{% trans 'Add text' %}</div>
                    <div class="btn add" ng-click="add(pagelet.content, 'multiplechoice')">{% trans 'Add multiple choice' %}</div>
                    <div class="btn add" ng-click="add(pagelet.content, 'multipleselection')">{% trans 'Add multiple selection' %}</div>
                </div>

                <div class="field" ng-repeat="field in pagelet.content track by $index">

                    <div class="ctrl right">
                        <a ng-click="up(pagelet.content, $index)" ng-hide="$first"><i class="icon-arrow-up icon-alpha5"></i></a>
                        <a ng-click="down(pagelet.content, $index)" ng-hide="$last"><i class="icon-arrow-down icon-alpha5"></i></a>
                        <a ng-click="delete(pagelet.content, $index)"><i class="icon-trash icon-alpha5"></i></a>
                    </div>

                    <h4 class="title">{% verbatim %}{{ field.field_type }}{% endverbatim %}</h4>

                    <div class="fieldset">
                        <div class="field-data">
                            <label>{% trans 'Label' %}</label>
                            <input type="text" class="wide" ng-model="field.label">
                        </div>
                        <div class="field-data">
                            <label>{% trans 'Variable name' %}</label>
                            <input type="text" ng-model="field.variable_name">
                        </div>
                    </div>

                    <div class="fieldset">
                        <div class="field-data" ng-if="field.field_type != 'multipleselection'">
                            <label>{% trans 'Default value' %}</label>
                            <input type="text" ng-model="field.value">
                        </div>
                        <div class="field-data pull-down">
                            <label>
                                <input type="checkbox" ng-model="field.required"> {% trans 'Required?' %}
                            </label>
                        </div>
                    </div>

                    <div class="fieldset">
                        <div class="field-data" ng-if="field.field_type == 'numeric'">
                            <label>{% trans 'Lower limit' %}</label>
                            <input type="text" ng-model="field.lower_limit">
                        </div>
                        <div class="field-data" ng-if="field.field_type == 'numeric'">
                            <label>{% trans 'Upper limit' %}</label>
                            <input type="text" ng-model="field.upper_limit">
                        </div>
                    </div>

                    <div class="field-data" ng-if="field.field_type == 'multiplechoice' || field.field_type == 'multipleselection'">
                        <div class="toolbox">
                            <div class="btn add" ng-click="add(field.alternatives, 'alternative')">{% trans 'Add alternative' %}</div>
                        </div>

                        <h5 class="title">{% trans 'Alternatives' %}</h5>

                        <div class="alt" ng-repeat="alt in field.alternatives track by $index">

                            <div class="ctrl right">
                                <a ng-click="up(field.alternatives, $index)" ng-hide="$first"><i class="icon-arrow-up icon-alpha5"></i></a>
                                <a ng-click="down(field.alternatives, $index)" ng-hide="$last"><i class="icon-arrow-down icon-alpha5"></i></a>
                                <a ng-click="delete(field.alternatives, $index)"><i class="icon-trash icon-alpha5"></i></a>
                            </div>

                            <div class="fieldset">
                                <div>
                                    <label>{% trans 'Label' %}</label>
                                    <input type="text" class="wide" ng-model="alt.label">
                                </div>
                                <div>
                                    <label>{% trans 'Value' %}</label>
                                    <input type="text" ng-model="alt.value">
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div ng-switch-when="image" class="image">
                <div class="filer">
                    {{ file_widget|safe }}
                </div>
                <div class="field-data">
                    <label>{% trans 'Alt title' %}</label>
                    <input type="text" ng-model="pagelet.content.alt">
                </div>
                <div class="field-data">
                    <label>{% trans 'Title' %}</label>
                    <input type="text" ng-model="pagelet.content.title">
                </div>
            </div>

            <div ng-switch-when="video" class="video">
                <div class="filer">
                    {{ file_widget|safe }}
                </div>
                <div class="field-data">
                    <label>{% trans 'Title' %}</label>
                    <input type="text" ng-model="pagelet.content.title">
                </div>
            </div>

            <div ng-switch-when="audio" class="audio">
                <div class="filer">
                    {{ file_widget|safe }}
                </div>
                <div class="field-data">
                    <label>{% trans 'Title' %}</label>
                    <input type="text" ng-model="pagelet.content.title">
                </div>
            </div>

            <div ng-switch-when="file" class="file">
                <div class="filer">
                    {{ file_widget|safe }}
                </div>
                <div class="field-data">
                    <label>{% trans 'Title' %}</label>
                    <input type="text" ng-model="pagelet.content.title">
                </div>
            </div>
        </div>
    </div>
    <script>
        var initData = {{ value|safe }};
        var filerApi = '{{ filer_api }}';
    </script>
</div>
