Thumbs.db
Desktop.ini
.DS_Store
__MACOSX
.idea
.coverage

*.log
*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
pip-log.txt

bin
include
lib
local
env

/.docker-data/
/media/
/static/
/src/
local_settings.py
*.db
*.pid
/.emacs.desktop
/.emacs.desktop.lock

node_modules
staticfiles/lib

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
