boto3
Django>=1.8,<1.9
django-appconf
django-compressor
django-constance
django-extensions
django-filer==1.2.4
django-import-export
django-mptt
django-polymorphic==1.3
django-request
django-reversion
django-settings-export
django-sitetree
django-storages
django-suit==0.2.19
django-user-agents
djangorestframework<3.7.0
easy-thumbnails
gevent
gunicorn
huey==1.2.3
jsonfield
mistune
Pillow
plivo
psycopg2-binary
pyparsing
pytz
raven
redis
requests
rules
twilio<6.0
whitenoise
