{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as lang_dir %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans 'Password reset' %}</title>

    {% if lang_dir %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main_en.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile_en.css' %}">
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="login-page">

    <form action="{{ request.path }}" method="post" class="login-inner-box"  id="change_password_form">
        {% csrf_token %}
        <div class="login-title">{% trans 'Reset Password' %}</div>
        <div class="login-inner-box-text" id="please_set_password_text"
             dir="auto">{% trans 'Please set a new password for your account' %}</div>
        <div class="reset-password-box-placeholder" id="login-form-content">
            <div>
                <div class="login-input-with-error">
                    <input name="new_password1" type="password" class="login-input-box" dir="auto" placeholder="{% trans 'New password' %}">
                    <i class="fas fa-eye eye-show-password-reset-confirm" id="togglePassword"></i>
                    <div class="reset-password-error">
                        <div class="reset-password-error-box-arrow"></div>
                        <div class="reset-password-error-box" dir="auto"></div>
                        <div class="reset-password-error-sign">i</div>
                    </div>
                    {{ form.new_password1.errors }}
                </div>
                <div class="login-input-with-error">
                <input name="new_password2" type="password" class="login-input-box" dir="auto" placeholder="{% trans 'Confirm password' %}">
                <i class="fas fa-eye eye-show-password-reset-confirm" id="togglePassword"></i>
                    <div class="reset-password-error">
                        <div class="reset-password-error-box-arrow"></div>
                        <div class="reset-password-error-box" dir="auto"></div>
                        <div class="reset-password-error-sign">i</div>
                    </div>
                {{ form.new_password2.errors }}
                </div>
            </div>
            <input class="login-button login-button-wide" type="submit" value="{% trans 'Change password' %}">
        </div>

        <div class="change-password-box-confirmation">
            {% trans 'Password successfully changed' %}
        </div>
        <div class="login-inner-box-text-small" id="you_can_now_text" style="display: none"
             dir="auto">{% trans 'You can now <a href="/login">Login</a> using your new password' %}</div>
        <div class="change-password-back-to-login">
            <a href="/login">{%  trans 'Back to login' %}</a>
        </div>

    </form>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).click(function() {
        $(".reset-password-error").css("visibility", "hidden");
    });

    $('form').on('submit', function (e) {
        $(".reset-password-error").css("visibility", "hidden");
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{{ request.path }}",
            data: $('#change_password_form').serialize(),
            success: function (response) {
                if (response.indexOf('errorlist') >= 0) {
                    let error1 = $(response).find("input[name='new_password1']").siblings(".errorlist").text();
                    $("input[name='new_password1']").parent().find(".reset-password-error-box").text(error1);
                    if (error1) {
                        $("input[name='new_password1']").siblings(".reset-password-error").css("visibility", "visible");
                    }

                    let error2 = $(response).find("input[name='new_password2']").siblings(".errorlist").text();
                    $("input[name='new_password2']").parent().find(".reset-password-error-box").text(error2);
                    if (error2) {
                        $("input[name='new_password2']").siblings(".reset-password-error").css("visibility", "visible");
                    }
                }
                else {
                    $(".reset-password-box-placeholder").hide();
                    $("#please_set_password_text").css("visibility", "hidden");
                    $(".change-password-box-confirmation").show();
                    $(".login-inner-box-text-small").show();
                    $("#you_can_now_text").show();
                    $(".change-password-back-to-login").show();
                }
            }
        });
    });

    document.querySelectorAll('.eye-show-password-reset-confirm').forEach(item => item.addEventListener('click', function (e) {
        const password = this.previousElementSibling;
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    }));

</script>
</body>

