{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
    <style type="text/css">

        .h3 {
            text-align: center;
        }

        .h2 {
            text-align: center;
        }
    </style>

    <h1 class="h3 mb-3 font-weight-normal" dir="auto">{% trans 'Your password was changed.' %}</h1>
    <h2 class="h2 mb-3 font-weight-bold" dir="auto"><a href="/">{% trans 'Back to main page' %}</a></h2>

    <script>
        setTimeout(function () {
            window.location.href = '/';
        }, 3000);
    </script>
{% endblock %}

