{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as lang_dir %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans 'Reset Password' %}</title>

    {% if lang_dir %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main_en.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile_en.css' %}">
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;700&display=swap" rel="stylesheet">

</head>
<body>
<div class="login-page">
    <div class="login-welcome">Mindtools</div>

    <form action="{% url 'password_reset' %}" method="post" class="login-inner-box" id="reset_password_form">
        {% csrf_token %}
        {{ form.email.errors }}
        <div class="login-title">{% trans 'Reset Password' %}</div>
        <div class="login-inner-box-text"
             dir="auto">{% trans 'Enter your email address below and we will email you instructions for setting a new password' %}</div>
        <div class="reset-password-box-placeholder" id="login-form-content">
            <div class="login-input-with-error">
                <input name="email" type="text" class="login-input-box" dir="auto" placeholder="{% trans 'Email address' %}">
                <div class="reset-password-error">
                    <div class="reset-password-error-box-arrow"></div>
                    <div class="reset-password-error-box" dir="auto"></div>
                    <div class="reset-password-error-sign">i</div>
                </div>
            </div>
            <input class="login-button login-button-wide mobile-login-button-no-margin" type="submit" value="{% trans 'Reset password' %}">
        </div>

        <div class="reset-password-box-confirmation">
            {% blocktrans %}
            Please check your inbox.<br/>
            An email is on the way to <b>/*email*/</b> with instructions for resetting your password.
            {% endblocktrans %}
        </div>


    </form>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).click(function() {
        $(".reset-password-error").css("visibility", "hidden");
    });

    $('form').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: {% url 'password_reset' %},
            data: $('#reset_password_form').serialize(),
            success: function (response) {
                if (response.indexOf('errorlist') >= 0) {
                    $(".reset-password-error").css("visibility", "visible");
                    $(".reset-password-error-box").text($(response).find(".errorlist").text())
                }
                else {
                    $(".reset-password-box-placeholder").hide();
                    $(".reset-password-box-confirmation").html($(".reset-password-box-confirmation").html().replace("/*email*/", $("#reset_password_form").find("[name='email']").val()));
                    $(".reset-password-box-confirmation").show();
                }
            }
        });
    });
</script>
</body>

