{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as lang_dir %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans 'Reset Password' %}</title>

    {% if lang_dir %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main_en.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile_en.css' %}">
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="login-page">
    <form method="POST" class="login-inner-box change-password-inner-box" action="">
        {% csrf_token %}
        <div class="login-title change-password-title">{% trans 'Change password' %}</div>
        {% if request.session.pwd_req%}
            <div dir="auto"
                 class="password-expired-message">{% trans "Your password has expired. Please change it using the form below." %}</div>
        {% endif %}
        <input name="old_password" class="login-input-box" placeholder="{% trans 'Old password' %}" type="password"
               id="id_old_password" required="true">
        <i class="fas fa-eye eye-show-password" id="togglePassword"></i>
        {% if form.new_password1.help_text %}
            <div class="help" dir="auto">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
        <input name="new_password1" class="login-input-box" placeholder="{% trans 'New password' %}" type="password"
               id="id_new_password1" required="true">
        <i class="fas fa-eye eye-show-password" id="togglePassword"></i>
        <input name="new_password2" class="login-input-box" placeholder="{% trans 'Confirm password' %}" type="password"
               id="id_new_password2" required="true">
        <i class="fas fa-eye eye-show-password" id="togglePassword"></i>

        {% for field in form %}
            {% for error in field.errors %}
                <div dir="auto" class="login-wrong-password change-password-error">{{ error }}</div>
            {% endfor %}
        {% endfor %}

        <button class="login-button login-button-wide mobile-login-button-no-margin"
                type="submit">{% trans 'Update' %}</button>
    </form>
</div>
<script>
    document.querySelectorAll('.eye-show-password').forEach(item => item.addEventListener('click', function (e) {
        const password = this.previousElementSibling;
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    }));
</script>
</body>
</html>

