.plumbing {
    width: 100%;
    height: 50em;
    position: relative;
    background: white;
    border: 1px solid #eee;
    border-radius: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plumbing .box {
    background: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 1px 1px 4px #ddd;
}

.node {
    cursor: move;
    padding: .75em 3em .75em 1.5em;
    z-index: 4;
}

#node_0 {
    background: #eee;
}

.plumbing .delay,
.plumbing .email,
.plumbing .sms {
    background: #fee;
}

#node_0:hover,
.node:hover {
    background: #5C97BF;
    color: white;
}

.node,
.overlay {
    transition: background 0.25s;
    font-size: 11px;
    position: absolute;
}

.overlay {
    cursor: pointer;
    padding: .25em 2em .25em .5em;
    z-index: 6;
}

.overlay .summary {
    margin: 0;
    line-height: 1.5;
    min-height: 1.5em;
    min-width: 1em;
}

.overlay:hover,
._jsPlumb_source_hover,
._jsPlumb_target_hover {
    background: #4DAF7C !important;
    color: white;
}

.ep,
.delete {
    box-sizing: border-box;
    position: absolute;
    right: 5px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    border-radius: 2px;
}

.ep {
    top: 5px;
    background: #ffaa66;
}

.delete {
    bottom: 5px;
    line-height: 1;
    font-size: 13px;
    text-align: center;
    background: #FF603E;
    color: white;
}

.ep:hover,
.delete:hover {
    box-shadow: 0 0 3px #333;
}

._jsPlumb_endpoint {
    z-index: 3;
}

._jsPlumb_connector {
    z-index: 5;
}

.dragHover {
    border: 2px solid orange;
}

path {
    cursor: pointer;
}

.toolbox {
    float: left;
    margin: 1rem;
}

.variables {
    list-style: none;
    margin: 1rem;
    height: 100%;
    float: right;
    line-height: 1;
}

.variables p,
.variable {
    padding: .1em .25em;
}

.variable:hover {
    background: #eee;
}

.settings,
.conditions {
    border: 1px solid #ccc;
    float: right;
    line-height: 16px;
    margin: 1rem 0;
    min-width: 10em;
    padding: .5rem;
    position: relative;
    z-index: 10;
}

.conditions .btn {
    margin-right: 1em;
}

.condition {
    margin: 0 2em .5em 0;
}

.settings input[type=number],
.condition input {
    width: 8em;
    margin-right: .5rem;
}

.settings select,
.condition select {
    width: auto;
    margin-right: .5rem;
}

.settings label {
    margin: .5em 0 0;
}

.settings input[type=checkbox] {
    margin: 0;
    vertical-align: text-bottom;
}

.condition .trash {
    cursor: pointer;
}

.node i {
    margin-bottom: -1px;
    vertical-align: text-bottom;
}
