.plumbing {
    width: 100%;
    height: 50em;
    position: relative;
    background: white;
    border: 1px solid #eee;
    border-radius: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.plumbing .box {
    background: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 1px 1px 4px #ddd;
}

.node {
    cursor: move;
    padding: .75em 3em .75em 1.5em;
    z-index: 4;
}

#node_0,
.plumbing .delay,
.plumbing .email,
.plumbing .sms,
.plumbing .register,
.plumbing .enroll {
    background: #eee;
}

.plumbing .session  {
    background: #efe;
}


#node_0:hover,
.node:hover {
    background: #5C97BF;
    color: white;
}

.node,
.overlay {
    transition: background 0.25s;
    font-size: 11px;
    position: absolute;
}

.overlay {
    cursor: pointer;
    padding: .25em 2em .25em .5em;
    z-index: 6;
}

.overlay .summary {
    margin: 0;
    line-height: 1.5;
    min-height: 1.5em;
    min-width: 1em;
}

.overlay:hover,
._jsPlumb_source_hover,
._jsPlumb_target_hover {
    background: #4DAF7C !important;
    color: white;
}

.ep,
.delete {
    box-sizing: border-box;
    position: absolute;
    right: 5px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    border-radius: 2px;
}

.ep {
    top: 5px;
    background: #ffaa66;
}

.delete {
    bottom: 5px;
    line-height: 1;
    font-size: 13px;
    text-align: center;
    background: #FF603E;
    color: white;
}

.ep:hover,
.delete:hover {
    box-shadow: 0 0 3px #333;
}

._jsPlumb_endpoint {
    z-index: 3;
}

._jsPlumb_connector {
    z-index: 5;
}

.dragHover {
    border: 2px solid orange;
}

path {
    cursor: pointer;
}

.toolbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0.5rem;
}

.variables {
    list-style: none;
    padding: 0.5rem;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    max-height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 4px #999;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
}

.variables input {
    width: 100%;
    margin: .5em 0 .25em;
    padding: .25rem;
    height: 20px;
    box-sizing: border-box;
}

.variables .disallowed span {
    color: #FF6347;
}

.variables p,
.variable {
    padding: .1em .25em;
}

.variable:hover {
    background: #eee;
}

.settings,
.conditions {
    border: 1px solid #ccc;
    line-height: 16px;
    margin: 0.5rem;
    min-width: 30em;
    padding: .5rem;
    position: absolute;
    z-index: 199;
    bottom: 25px;
    right: 25px;
}

.conditions label {
    font-weight: bold;
}

.conditions .expression-widget-wrapper {
    margin-top: 0.5em;
}

.settings input[type=number] {
    width: 8em;
    margin-right: .5rem;
}

.settings select {
    width: auto;
    margin-right: .5rem;
}

.settings label {
    margin: .5em 0 0;
}

.settings input[type=checkbox] {
    margin: 0;
    vertical-align: text-bottom;
}

.condition .trash {
    cursor: pointer;
}

.node i {
    margin-bottom: -1px;
    vertical-align: text-bottom;
}

.scrollmarker {
    position: absolute;
    bottom: 10px;
    right: 10px;
    line-height: 1;
    pointer-events: none;
}
