{% load i18n sitetree %}
{% for item in sitetree_items %}
    <top-bar-section>
        <ul class="{% if item.is_current or item.in_current_branch %}active{% endif %} {% if item.hint == "left" or item.hint == "right" %}{{ item.hint }}{% else %}left{% endif %}">
            {% if item.has_children %}
                <li has-dropdown>
                    <a href="{{ item.url_resolved }}">
                        {% trans item.title %}</a>
                    <ul top-bar-dropdown>
                        {% sitetree_children of item for menu template "sitetree/topbar_navmenu/_1items.html" %}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{{ item.url_resolved }}">
                        {% trans item.title %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </top-bar-section>
{% endfor %}


