{% load i18n sitetree %}
{% for item in sitetree_items %}
    {% if item.has_children %}
        <li class="has-dropdown">
            <a href="{{ item.url_resolved }}">{% trans item.title %}</a>
            <ul class="dropdown">
                <li><label>{% trans item.title %}</label></li>
                {% sitetree_children of item for menu template "sitetree/topbar_navmenu/_1items.html" %}
            </ul>
        </li>
    {% else %}
        <li>
            {% ifequal item.url "admin:index" %}
                {% if user.is_staff %}
                    <a href="{{ item.url_resolved }}">{% trans item.title %}</a>
                {% endif %}
            {% else %}
                <a href="{{ item.url_resolved }}">{% trans item.title %}</a>
            {% endifequal %}
        </li>
    {% endif %}
{% endfor %}
