{% verbatim %}
<div id="plumbing" class="plumbing" ng-app="plumbing" ng-controller="graph">
    <div class="node" ng-repeat="node in data.nodes" ng-style="node.metrics" ng-model="data.nodes" draggable="true">
        {{ node.title }}
        <div class="ep"></div>
        <div class="delete" ng-click="deleteNode($index)">×</div>
        <input type="hidden" class="noderef" value="{{ node.ref_id }}">
    </div>
    <div class="toolbox">
        <div class="add" ng-click="addNode()" id="lookup_{{ current_noderef }}">Add node</div>
    </div>
    <textarea name="data" class="data ng-hide">{{ data }}</textarea>
    {{ data }}
</div>
{% endverbatim %}
<script>
    var initData = {{ value|safe }};
    var newNodeUrl = '{{ admin_page_new }}';
    var addNodeUrl = '{{ admin_page_add }}';
    var pageApiUrl = '{{ page_api }}';
</script>
