<div ng-app="userdata">
    {% verbatim %}
    <div ng-repeat="(key, value) in data" class="row-fluid">
        <div class="span4">
            <strong>{{ key }}:</strong>
        </div>
        <div class="span4">
            {{ value }}
        </div>
    </div>
    <textarea name="data" class="data ng-hide">{{ data }}</textarea>
    {% endverbatim %}
</div>
<script>
    angular.module('userdata', []).run(['$rootScope', function(scope) {
        scope.data = {{ value|safe }};
    }]);
</script>
