<div ng-app="userdata">
    {% verbatim %}
    <div ng-repeat="field in fields track by $index" class="row-fluid">
        <div class="span4">
            <strong>{{ field }}:</strong>
        </div>
        <div class="span4">
            <input ng-if="debug && int_fields.indexOf(field) > -1" type="number" ng-model="data[field]">
            <input ng-if="debug && int_fields.indexOf(field) == -1" type="text" ng-model="data[field]">
            <span ng-if="!debug">{{ display(data[field]) }}</span>
        </div>
    </div>
    <textarea name="data" class="data ng-hide">{{ data }}</textarea>
    {% endverbatim %}
</div>
<script>
    angular.module('userdata', []).run(['$rootScope', function(scope) {
        scope.data = {{ data|safe }};
        scope.fields = {{ fields|safe }};
        scope.debug = {{ debug }};
        scope.int_fields = {{ int_fields|safe }};
        scope.display = function(value) {
            return typeof(value.join) === 'function' ? value.join(', ') : value;
        }
    }]);
</script>
