{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load markdown %}
<div class="pages">
    <div class="page">
        {% for pagelet in pagelets %}
        {% if pagelet.content_type == 'text' %}

        {{ pagelet.content.text|markdown }}

        {% elif pagelet.content_type == 'form' %}

        {% with pagelet.content as form %}
        {% include 'form.html' %}
        {% endwith %}

        {% elif pagelet.content_type == 'image' %}

        {% with pagelet.content as image %}
        {% include 'image.html' %}
        {% endwith %}

        {% elif pagelet.content_type == 'video' %}

        {% with pagelet.content as video %}
        {% include 'video.html' %}
        {% endwith %}

        {% elif pagelet.content_type == 'audio' %}

        {% with pagelet.content as audio %}
        {% include 'audio.html' %}
        {% endwith %}

        {% elif pagelet.content_type == 'file' %}

        {% with pagelet.content as file %}
        {% include 'file.html' %}
        {% endwith %}

        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
