{% extends 'admin/base.html' %}
{% load i18n %}
{% load admin_static %}{% load suit_tags %}<!DOCTYPE html>


{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
{% endblock %}

{% block extrahead %}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript">var Suit = { $: $.noConflict() }; if (!$) $ = Suit.$; </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}

{% block userlinks %}
     {{ block.super }}
    <form action="{% url 'set_language' %}" method="post" class="change-language" style="position: absolute; top: 80px">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <input name="language" type="hidden" value="{{ LANGUAGE_CODE }}">
        {% for language in languages %}
            <a href="javascript:void(0)" onclick="changeLanguage('{{ language.code }}')">{{ language.name_local }}</a>
        {% endfor %}
    </form>
<script>
    function changeLanguage(newLanguage) {
        $('input[name="language"]').val(newLanguage);
        $('.change-language').submit();
    }
</script>

{% endblock %}

{% block footer %}
{{ block.super }}
    <script src="{% static 'lib/angular/angular.min.js' %}"></script>
    <script src="{% static 'lib/ng-idle/angular-idle.js' %}"></script>
    <script src="{% static 'js/serafin.js' %}"></script>

    <div id="idle" ng-app="idle" ng-controller="idle">{% include 'idle_popup.html' %}</div>
{% endblock %}