<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE|default:'no' }}" ng-app="serafin">
  {% load i18n %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Serafin{% endblock %}</title>
    {% block meta %}{% endblock %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block styles %}{% endblock %}
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav class="top-bar" data-topbar>
          <h1 class="entry">{{ program }}</h1>
          <div class="entry title">{{ title }}</div>
          <ul class="right">
            <li><a class="button" href="{% url 'logout' %}">{% trans 'Quit / sign out' %}</a></li>
          </ul>
        </nav>
      </header>

      <section class="messages">
        {% for message in messages %}
        <div class="message alert {{ message.tags }}" ng-hide="removed">
          <button class="close" ng-click="removed = !removed">&times;</button>
          <p>{{ message }}</p>
        </div>
        {% endfor %}
      </section>

      <section class="content">
        {% block content %}{% endblock %}
      </section>

      <div class="push"></div>
    </div>

    <footer class="footer">
      <div class="left">
        <p>© {% now 'Y' %} SERAF, UiO</p>
      </div>

      <div class="right">
        <ul class="inline-list">
          <li><a href="">Lenke</a></li>
          <li><a href="">Lenke</a></li>
          <li><a href="">Lenke</a></li>
        </ul>
      </div>
    </footer>

    <script src="{% static 'js/angular/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-animate/angular-animate.min.js' %}"></script>
    <script src="{% static 'js/serafin.js?v=1.0' %}"></script>
    {% block scripts %}{% endblock %}
    <script>
      /*
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'XXX']);
      _gaq.push(['_setDomainName', 'example.com']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      */
    </script>
  </body>
</html>
