<div class="mesgs" id="chat_component" ng-controller="ChatController">
    <div class="msg_history">
        <div class="text-center" ng-if="show_load_previous">
            <button type="button" class="btn btn-secondary mt-1 mb-1 btn-sm" ng-click="load_messages(1,null)">
                Load previous
            </button>
        </div>
        <div ng-repeat="msg in messages">
            <div class="received_msg" ng-if="msg.s != true" dir="{% if lang_dir %}ltr{% endif %}">
                <div class="received_withd_msg">
                    {% verbatim %}
                    <p>{{ msg.msg }}</p>
                    <span class="time_date"> {{ msg.time_display }}</span>
                    {% endverbatim %}
                </div>
            </div>
            <div class="outgoing_msg" ng-if="msg.s == true">
                <div class="sent_msg">
                    {% verbatim %}
                    <p>{{ msg.msg }}</p>
                    <span class="time_date"> {{ msg.time_display }}</span>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
    <div class="type_msg">
        <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" ng-model="message"/>
            <button class="msg_send_btn" {% if lang_dir %}style="left:0px;right:auto;"{% endif %} type="button" ng-click="send_message()"><i class="fa fa-paper-plane-o"
                                                                                    aria-hidden="true"></i></button>
        </div>
    </div>
</div>