{% extends 'base.html' %}
{% load i18n static thumbnail %}
{% block title %}
Endre - et program for deg som vil slutte å røyke
{% endblock title %}
{% block content %}
<div class="page">
    <div class="center">
        <br>
        <h1><div class="logo">{{ item.title_resolved }}</div></h1>
        <br>
    </div>

    <p><strong>Vil du delta i et forskningsprosjekt der vi prøver ut den digitale røykesluttrådgiveren "Endre"?</strong></p>

    <p>Vi ønsker å finne ut om og hvordan "Endre" kan hjelpe folk med å stumpe røyken for godt. Hvis du røyker men vurderer å slutte i nær fremtid og har lyst til å prøve en digital røykesluttrådgiver så inviterer vi deg til å delta. Hvis du deltar blir du tilbudt regelmessige "samtaler" med Endre her på nett. Endre bruker også tekstmeldinger (SMS) og epost. Endre er et helautomatisk program – det er ingen mennesker som er direkte involvert i kontakten med deg. Derfor kan programmet brukes når, hvor og hvor ofte du vil, enten du bruker mobil, nettbrett eller pc.</p>

    <p>Endre kan hjelpe deg med motivasjon, praktiske råd, utfordringer, røykesug, tilbakefall, og med å styrke selvtillit og identitet som røykfri. Innholdet bygger på velprøvde metoder (bl.a. "<a href="https://no.wikipedia.org/wiki/Motiverende_samtale">motiverende samtale</a>") og på mange års erfaring med røykesluttrådgivning. Det som er nytt er at rådgiveren har "programmert seg selv inn i et dataprogram".</p>

    <div class="center">
        <br>
        <a class="large button" href="/register" title=""><strong>Registrer deg her</strong></a>
    </div>

</div>
{% endblock content %}
