{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="page" ng-controller="pages" ng-cloak>
    {% verbatim %}
    <div class="pagelet" ng-repeat="pagelet in page">
        <div class="text" ng-if="pagelet.content_type == 'text'" class="text" ng-bind-html="trust(pagelet.content.html)">
        </div>
        <form class="form" ng-if="pagelet.content_type == 'form'">
            <div ng-repeat="field in pagelet.content">
                <div ng-if="field.field_type == 'numeric'">
                    <label for="{{ field.variable_name }}"><strong>{{ field.label }}</strong></label>
                    <input type="number" min="{{ field.lower_limit }}" max="{{ field.upper_limit }}" ng-model="field.value" ng-required="field.required">
                </div>
                <div ng-if="field.field_type == 'string'">
                    <label for="{{ field.variable_name }}"><strong>{{ field.label }}</strong></label>
                    <input type="text" ng-model="field.value" ng-required="field.required">
                </div>
                <div ng-if="field.field_type == 'text'">
                    <label for="{{ field.variable_name }}"><strong>{{ field.label }}</strong></label>
                    <textarea ng-model="field.value" ng-required="field.required"></textarea>
                </div>
                <fieldset ng-if="field.field_type == 'multiplechoice'">
                    <legend>{{ field.label }}</legend>
                    <label ng-repeat="alt in field.alternatives">
                        <input type="radio" ng-model="field.value" value="{{ alt.value }}" ng-required="field.required">
                        {{ alt.label }}
                    </label>
                </fieldset>
                <fieldset ng-if="field.field_type == 'multipleselection'">
                    <legend>{{ field.label }}</legend>
                    <label ng-repeat="alt in field.alternatives">
                        <input type="checkbox" ng-model="field.value[alt.value]" value="field.value[alt.value] = true" ng-required="field.required">
                        {{ alt.label }}
                    </label>
                </fieldset>
            </div>
        </form>
        <div class="directive" ng-if="pagelet.content_type == 'directive'">
            <!-- Add directive support -->
        </div>
        <div class="image" ng-if="pagelet.content_type == 'image'">
            <img ng-src="{{ pagelet.content.url }}" alt="{{ pagelet.content.alt }}" title="{{ pagelet.content.title }}">
        </div>
        <div class="video" ng-if="pagelet.content_type == 'video'">
            <label>{{ pagelet.content.title }}</label>
            <video ng-src="{{ pagelet.content.url }}">
                <!-- Add fallback option -->
            </video>
        </div>
        <div class="audio" ng-if="pagelet.content_type == 'audio'">
            <label>{{ pagelet.content.title }}</label>
            <audio ng-src="{{ pagelet.content.url }}">
                <!-- Add fallback option -->
            </audio>
        </div>
        <div class="file" ng-if="pagelet.content_type == 'file'">
            <a href="{{ pagelet.content.url }}">{{ pagelet.content.title }}</a>
        </div>
    </div>
    {% endverbatim %}
    <nav>
        <a class="button next" ng-click="next()">{% trans 'Next page' %}</a>
    </nav>
</div>
{% endblock content %}

{% block scripts %}
<script>
    var api = '{{ api|safe }}';
    var csrf_token = '{{ csrf_token }}';
</script>
{% endblock scripts %}
