{% load static i18n compress %}
{% get_current_language_bidi as lang_dir %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    {% compress css %}
    {% if lang_dir %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile.css' %}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_en.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile_en.css' %}">
    {% endif %}
    {% endcompress %}
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;700&display=swap" rel="stylesheet">
    {% compress js %}
    <script src="{% static 'lib/angular/angular.min.js' %}"></script>
    <script src="{% static 'lib/ng-idle/angular-idle.js' %}"></script>
    {% endcompress %}
</head>
<body>
<!--starts header-->
<div ng-controller="idle"></div>
 {% include 'navbar.html' %}
<!--end header-->
<div class="home-container" ng-app="portal">
    <div class="header-1 invisible" >{% trans 'Home' %}</div>
    <div class="home-image">
        {% verbatim %}
        <div class="home-image-text" ng-cloak>{{ program_name }}</div>
        {% endverbatim %}
    </div>
    <div class="home-box-wrapper">
        <div class="home-box">
            <div class="home-box-text-1">{% trans 'Current step' %}</div>
            {% verbatim %}
            <div ng-cloak class="home-box-text-2" ng-if="loaded && current_page_title">{{ current_page_title }}</div>
            <div ng-cloak class="home-box-text-2" ng-if="loaded && !current_page_title">
                {% endverbatim %}
                {% trans 'There is no new available content/report to complete. You can view available materials using the menu bar.' %}
                {% verbatim %}
            </div>
            {% endverbatim %}
            <button onclick="location.href='{% url 'content' %}'" class="home-box-btn" ng-cloak ng-if="loaded && current_page_title">{%  trans 'Enter' %}</button>
        </div>
    </div>


    <div ng-cloak class="notification-box-wrapper" ng-if="has_messages">
        <div class="notification-box" onclick="location.href='{% url 'mytherapist' %}'">
            <button class="notification-btn btn-outline" onclick="location.href='{% url 'mytherapist' %}'">{% trans 'Show' %}</button>
            <div class="row">
                <div class="notification-icon">
                    <img src="{% static 'img/notification.svg' %}"/>
                </div>
                <div class="notification-text">{% trans 'You have unread message from your supporter' %}</div>
            </div>
        </div>
    </div>

    <div class="home-info">
        <div class="home-info-text" dir="auto" ng-cloak>
            {% verbatim %}
            {{ program_about }}
            {% endverbatim %}
        </div>
    </div>

</div>


<div class="footer-spacer"></div>
<div class="footer">
    Mindtools.io © All right reserved
    <div id="idle" ng-app="idle" ng-controller="idle">{% include 'idle_popup.html' %}</div>
</div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/serafin.js' %}"></script>
    <script>
        var api = '{{ api|safe }}';
        var csrf_token = '{{ csrf_token }}';
        angular.bootstrap(document.getElementById("idle"), ['idle']);
    </script>

</body>
</html>
