{% extends 'base.html' %}
{% load i18n thumbnail %}
{% block content %}
<div class="row" ng-controller="pages">
  <div class="small-2 large-2 columns page" ng-if="is_chapter == true">
    <ul class="side-nav">
        {% verbatim %}
        <li ng-repeat="chapter in chapters" ng-class="{'active' : chapter.is_current, 'li-disabled' : !chapter.is_enabled}">
            <a ng-class="{'li-disabled' : !chapter.is_enabled}" ng-click="chapter_url(chapter.id)" href="#"> {{ chapter.name }} </a>
        </li>
        {% endverbatim %}
    </ul>
  </div>
  <div class="small-10 large=10 columns">

<div class="page" ng-form="form">

    <div class="error" ng-cloak ng-if="error">
        {% trans "Something went wrong. We weren't able to find the right path for you. You can try reloading the page. If that doesn't work, try again in a few hours?" %}
    </div>
    {% verbatim %}
    <div class="pagelet" ng-repeat="pagelet in page track by $index" ng-cloak>

        <div class="text" ng-if="pagelet.content_type == 'richtext'" richtextlivereplace="pagelet.content">
        </div>
        
        <div class="text" ng-if="pagelet.content_type == 'text'" livereplace="pagelet.content">
        </div>

        <div class="toggle" ng-class="{'hasimage': pagelet.img_content.url}" ng-if="pagelet.content_type == 'toggle'">
            <img ng-if="pagelet.img_content && pagelet.img_content.url" ng-click="pagelet.toggled = !pagelet.toggled" ng-src="{{ pagelet.img_content.url }}" alt="{{ pagelet.toggle }}" title="{{ pagelet.toggle }}">
            <p>
                <a ng-click="pagelet.toggled = !pagelet.toggled">
                    <span ng-hide="pagelet.toggled">▶</span>
                    <span ng-show="pagelet.toggled">▼</span>
                    {{ pagelet.toggle }}
                </a>
            </p>
            <div ng-show="pagelet.toggled" livereplace="pagelet.content">
            </div>
        </div>

        <form class="toggleset" ng-if="pagelet.content_type == 'toggleset'" novalidate>
            <fieldset ng-disabled="read_only" ng-form="subForm" ng-if="!pagelet.content.horizontal">
                <legend>{{ pagelet.content.label }}</legend>
                {% endverbatim %}
                <div class="error right" ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}</div>
                {% verbatim %}
                <label ng-repeat="alt in pagelet.content.alternatives track by $index">
                    <input name="answer" type="radio" ng-model="pagelet.content.value" value="{{ alt.value }}" required>
                    {{ alt.label }}
                </label>
                <div ng-repeat="alt in pagelet.content.alternatives track by $index" ng-show="subForm.$dirty && pagelet.content.value == alt.value">
                    {{ alt.text }}
                </div>
            </fieldset>
            <div ng-form="subForm" ng-if="pagelet.content.horizontal" class="table">
                {% endverbatim %}
                <div class="error right" ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}</div>
                {% verbatim %}
                <table>
                    <div class="caption">{{ pagelet.content.label }}</div>
                    <tbody>
                        <tr>
                            <td ng-repeat="alt in pagelet.content.alternatives track by $index">
                                <input name="answer" type="radio" ng-model="pagelet.content.value" value="{{ alt.value }}" required>
                                <br>
                                {{ alt.label }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-repeat="alt in pagelet.content.alternatives track by $index" ng-show="subForm.$dirty && pagelet.content.value == alt.value">
                    {{ alt.text }}
                </div>
            </div>
        </form>

        <form class="togglesetmulti" ng-if="pagelet.content_type == 'togglesetmulti'" novalidate>
            <fieldset ng-disabled="read_only" ng-form="subForm" ng-if="!pagelet.content.horizontal">
                <legend>{{ pagelet.content.label }}</legend>
                {% endverbatim %}
                <div class="error right" ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}</div>
                {% verbatim %}
                <label ng-repeat="alt in pagelet.content.alternatives track by $index">
                    <input name="answer" type="checkbox" checkboxlist ng-model="alt.selected" ng-click="toggle(pagelet.content.value, alt.value)" ng-required="field.required">
                    {{ alt.label }}
                </label>
                <div>{{ pagelet.content.text }}</div>
            </fieldset>
            <div ng-form="subForm" ng-if="pagelet.content.horizontal" class="table">
                {% endverbatim %}
                <div class="error right" ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}</div>
                {% verbatim %}
                <table>
                    <div class="caption">{{ pagelet.content.label }}</div>
                    <tbody>
                        <tr>
                            <td ng-repeat="alt in pagelet.content.alternatives track by $index">
                                <input ng-disabled="read_only" name="answer" type="checkbox" checkboxlist ng-model="alt.selected" ng-click="toggle(pagelet.content.value, alt.value)" ng-required="field.required">
                                <br>
                                {{ alt.label }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>{{ pagelet.content.text }}</div>
            </div>
        </form>

        <div class="conditionalset" ng-if="pagelet.content_type == 'conditionalset'" class="conditionalset">
            <div ng-repeat="text in pagelet.content track by $index" livereplace="text.content">
            </div>
        </div>

        <form class="expression" ng-if="pagelet.content_type == 'expression'">
            <input type="hidden" name="{{ pagelet.content.variable_name }}" value="{{ pagelet.content.value }}">
        </form>

        <form class="form" ng-if="pagelet.content_type == 'form'" novalidate>
            <div ng-repeat="field in pagelet.content track by $index" ng-form="subForm">

                <div ng-if="field.field_type == 'numeric'">
                    {% endverbatim %}
                    <div class="error right" ng-show="(form.submitted || subForm.field.$dirty) && subForm.field.$error.required">{% trans 'Please enter a number' %}</div>
                    <div class="error right" ng-show="subForm.field.$dirty && (subForm.field.$error.min || subForm.field.$error.max )">{% trans 'Please enter a number between {{ field.lower_limit }} and {{ field.upper_limit }}' %}</div>
                    {% verbatim %}
                    <label for="field"><strong>{{ field.label }}</strong></label>
                    <input ng-disabled="read_only" name="field" type="number" min="{{ field.lower_limit }}" max="{{ field.upper_limit }}" string-to-number ng-model="field.value" ng-required="field.required" liveinput>
                </div>

                <div ng-if="field.field_type == 'string'">
                    {% endverbatim %}
                    <div class="error right" ng-show="form.submitted && field.variable_name !== 'phone' && subForm.field.$error.required">{% trans 'This field is required' %}</div>
                    <div class="error right" ng-show="form.submitted && field.variable_name === 'phone' && subForm.phone.$error.required">{% trans 'This field is required' %}</div>
                    <div class="error right" ng-show="form.submitted && subForm.phone.$error.minlength">{% trans 'Your phone number is too short' %}</div>
                    <div class="error right" ng-show="form.submitted && subForm.phone.$error.pattern">{% trans '+Country code then number, no other characters, e.g. "+4798765432"' %}</div>
                    {% verbatim %}
                    <label for="field"><strong>{{ field.label }}</strong></label>
                    <input ng-disabled="read_only" ng-if="field.variable_name !== 'phone'" name="field" type="text" ng-model="field.value" ng-required="field.required" liveinput>
                    <input ng-disabled="read_only" ng-if="field.variable_name === 'phone'" name="phone" type="text" ng-model="field.value" ng-required="field.required" ng-minlength="11" ng-pattern="/^\+\d+$/" liveinput>
                </div>

                <div ng-if="field.field_type == 'text'">
                    {% endverbatim %}
                    <div class="error right" ng-show="form.submitted && subForm.field.$error.required">{% trans 'This field is required' %}</div>
                    {% verbatim %}
                    <label for="field"><strong>{{ field.label }}</strong></label>
                    <textarea ng-disabled="read_only" name="field" ng-model="field.value" ng-required="field.required" liveinput></textarea>
                </div>

                <div ng-if="field.field_type == 'multiplechoice'">
                    <fieldset ng-disabled="read_only" ng-if="!field.horizontal">
                        <legend>{{ field.label }}</legend>
                        {% endverbatim %}
                        <div class="error right" ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}</div>
                        {% verbatim %}
                        <label ng-repeat="alt in field.alternatives track by $index">
                            <input name="{{ 'multi' + $parent.$index }}" type="radio" ng-model="field.value" value="{{ alt.value }}" ng-required="field.required">
                            {{ alt.label }}
                        </label>
                    </fieldset>

                    <div ng-if="field.horizontal" class="table">
                        {% endverbatim %}
                        <div class="error right" ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}</div>
                        {% verbatim %}
                        <table ng-if="field.field_type == 'multiplechoice'">
                            <div class="caption">{{ field.label }}</div>
                            <tbody>
                                <tr>
                                    <td ng-repeat="alt in field.alternatives track by $index">
                                        <input ng-disabled="read_only" name="{{ 'multi' + $parent.$index }}" type="radio" ng-model="field.value" value="{{ alt.value }}" ng-required="field.required">
                                        <br>
                                        {{ alt.label }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div ng-if="field.field_type == 'multipleselection'">
                    <fieldset ng-disabled="read_only" ng-if="!field.horizontal">
                        <legend>{{ field.label }}</legend>
                        {% endverbatim %}
                        <div class="error right" ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}</div>
                        {% verbatim %}
                        <label ng-repeat="alt in field.alternatives track by $index">
                            <input name="{{ 'multiselect' + $parent.$index }}" type="checkbox" checkboxlist ng-model="alt.selected" ng-click="toggle(field.value, alt.value)" ng-required="field.required && field.value.length==0">
                            {{ alt.label }}
                        </label>
                    </fieldset>

                    <div ng-if="field.horizontal" class="table">
                        {% endverbatim %}
                        <div class="error right" ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}</div>
                        {% verbatim %}
                        <table>
                            <div class="caption">{{ field.label }}</div>
                            <tbody>
                                <tr>
                                    <td ng-repeat="alt in field.alternatives track by $index">
                                        <input ng-disabled="read_only" name="{{ 'multiselect' + $parent.$index }}" type="checkbox" checkboxlist ng-model="alt.selected" ng-click="toggle(field.value, alt.value)" ng-required="field.required && field.value.length==0">
                                        <br>
                                        {{ alt.label }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div ng-if="field.field_type == 'email'">
                    {% endverbatim %}
                    <div class="error right" ng-show="form.submitted && subForm.email.$error.required">{% trans 'This field is required' %}</div>
                    <div class="error right" ng-show="form.submitted && subForm.email.$error.email">{% trans 'Please input a valid e-mail address' %}</div>
                    {% verbatim %}
                    <label for="email"><strong>{{ field.label }}</strong></label>
                    <input ng-disabled="read_only" name="email" type="email" ng-model="field.value" ng-required="field.required" liveinput>
                </div>

                <div ng-if="field.field_type == 'password'">
                    {% endverbatim %}
                    <div class="error right" ng-show="form.submitted && subForm.password.$error.required">{% trans 'This field is required' %}</div>
                    {% verbatim %}
                    <label for="password"><strong>{{ field.label }}</strong></label>
                    <input ng-disabled="read_only" name="password" type="password" ng-model="field.value" ng-required="field.required">
                </div>

                <div ng-if="field.field_type == 'hiddenfield'">
                    <input type="hidden" name="{{ field.name }}" value="{{ field.value }}" ng-model="field.value">
                </div>

            </div>
        </form>

        <form class="quiz" ng-if="pagelet.content_type == 'quiz'" novalidate>
            <fieldset ng-disabled="read_only" ng-repeat="question in pagelet.content track by $index" ng-form="subForm">
                <legend>{{ question.question }}</legend>
                {% endverbatim %}
                <div class="error right" ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}</div>
                {% verbatim %}
                <label ng-repeat="alt in question.alternatives track by $index">
                    <input name="answer_{{ $parent.$index }}" type="radio" ng-model="question.value" ng-change="question.correct = alt.correct; question.response = alt.response" value="{{ alt.value }}" required>
                    {{ alt.label }}
                </label>
                <div ng-show="subForm.$dirty">{{ question.response }}</div>
            </fieldset>
        </form>

        <div class="image" ng-if="pagelet.content_type == 'image'">
            <img ng-src="{{ pagelet.content.url }}" alt="{{ pagelet.content.alt }}" title="{{ pagelet.content.title }}">
        </div>

        <div class="video" ng-if="pagelet.content_type == 'video'">
            <label>{{ pagelet.content.title }}</label>
            <video ng-src="{{ pagelet.content.url }}">
                <!-- Add fallback option -->
            </video>
        </div>

        <div class="audio" ng-if="pagelet.content_type == 'audio'">
            <label>{{ pagelet.content.title }}</label>
            <audio ng-src="{{ pagelet.content.url }}">
                <!-- Add fallback option -->
            </audio>
        </div>

        <div class="file" ng-if="pagelet.content_type == 'file'">
            <a href="{{ pagelet.content.url }}">{{ pagelet.content.title }}</a>
        </div>

    </div>
    {% endverbatim %}
    <nav ng-if="!dead_end || stacked">
        <a class="button next" ng-disabled="form.$invalid || form.submitted || error" ng-click="next()">{% trans 'Next page' %}</a>
    </nav>
</div>
  </div>
{% endblock content %}

{% block scripts %}
<script>
    var api = '{{ api|safe }}';
    var csrf_token = '{{ csrf_token }}';
</script>
{% endblock scripts %}
