{% load i18n %}
<div class="error-body">
    <div class="error-title" dir="auto">
        {% trans "There is no new available content/report to complete 😀" %}
    </div>
    <div class="error-content" dir="auto">
        {% blocktrans %}
        We will send a notification when a new activity will be made available.<br/>
        Meanwhile, act according to the program.
        {% endblocktrans %}
    </div>
    <button onclick="location.href='{% url 'main_page' %}'" class="error-page-btn">{% trans "Back to homepage" %}</button>
    <div class="error-footer" dir="auto">
        {% trans "for help you can contact us at " %} <a href="mailto:{{ support_email }}">{{ support_email }}</a>
    </div>
</div>