{% load static %}
{% load i18n %}
{% get_current_language_bidi as lang_dir %}

<!DOCTYPE html>
<html lang="en" ng-app="serafin">

<head>

    <meta charset="utf-8">

    <title>Mind Tools</title>

    <!-- Bootstrap core CSS -->
    {% if lang_dir %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile.css' %}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_en.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile_en.css' %}">
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% comment %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
{% endcomment %}
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->

</head>

<body ng-controller="pages">

<!-- Navigation -->
{% include 'navbar.html' %}
<!-- Page Content -->


<div class="episodes-menu" ng-hide="!chapters.length">
    <h2 class="episodes-menu-title">{% trans 'Chapters' %}</h2>
    <div class="episodes-menu-title-mobile">
        <img src="{% static 'img/left-arrow.svg' %}"/>
        <span>{% trans 'Program Chapters' %}</span>
    </div>

    <div class="episodes-menu-item" ng-repeat="chapter in chapters"
         ng-class="chapter.is_current ? 'active' : chapter.is_enabled ? 'enable' : 'disabled'"
         ng-click="chapter_url(chapter.id)">

        {% verbatim %}
        <p dir="auto">{{ chapter.name }}</p>
        {% endverbatim %}

    </div>
    <div class="footer-spacer"></div>
</div>
<div class="page">
    <div class="content">
        <div class="episodes-link" ng-hide="!chapters.length">
            <div>{% trans 'Chapters list' %}</div>
            <div class="episodes-link-group">
                <img class="episodes-link-icon-left" src="{% static 'img/left-arrow.svg' %}"/>
                <img class="episodes-link-icon-right" src="{% static 'img/right-arrow.svg' %}"/>
            </div>
        </div>

        <div class="" ng-form="form">
            <div class="error" ng-cloak ng-if="error">
                {% trans "Something went wrong. We weren't able to find the right path for you. You can try reloading the page. If that doesn't work, try again in a few hours?" %}
            </div>
            {% verbatim %}
            <div class="" ng-repeat="pagelet in page track by $index" ng-cloak>
                <div ng-if="pagelet.content_type == 'richtext' && pagelet.box != undefined">
                    <div class="page-content rounded" richtextlivereplace="pagelet.content"
                         style="background-color:{{ pagelet.box }}"></div>
                </div>

                <div ng-if="pagelet.content_type == 'richtext' && pagelet.box == undefined">
                    <div class="page-content" richtextlivereplace="pagelet.content"></div>
                </div>

                <div class="page-content" ng-if="pagelet.content_type == 'text'" livereplace="pagelet.content">
                </div>

                <div class="toggle page-content" ng-class="{'hasimage': pagelet.img_content.url}"
                     ng-if="pagelet.content_type == 'toggle'">
                    <img ng-if="pagelet.img_content && pagelet.img_content.url"
                         ng-click="pagelet.toggled = !pagelet.toggled" ng-src="{{ pagelet.img_content.url }}"
                         alt="{{ pagelet.toggle }}" title="{{ pagelet.toggle }}">
                    <p>
                        <a ng-click="pagelet.toggled = !pagelet.toggled">
                            {{ pagelet.toggle }}
                            <span ng-hide="pagelet.toggled" class="toggle-arrow"><span></span></span>
                            <span ng-show="pagelet.toggled">▼</span>
                        </a>
                    </p>

                    <div ng-show="pagelet.toggled" livereplace="pagelet.content">
                    </div>
                </div>

                <form class="" ng-if="pagelet.content_type == 'toggleset'" novalidate>
                    <div class="form-group">
                        <div class="question" ng-form="subForm" ng-disabled="read_only">
                            <div class="question-label">{{ pagelet.content.label }}</div>
                            {% endverbatim %}
                            <div class="question-hint">({% trans 'Choose only one option' %})</div>
                            <div class="question-error"
                                 ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}
                            </div>
                            {% verbatim %}
                            <div class="radio-options" ng-class="{'horizontal-options': pagelet.content.horizontal}">
                                <div class="radio-option" ng-class="{'radio-option-horizontal': pagelet.content.horizontal}"
                                     ng-repeat="alt in pagelet.content.alternatives track by $index">
                                    <label class="radio-container" ng-class="{'radio-container-horizontal': pagelet.content.horizontal}">
                                        <input ng-disabled="read_only" type="radio" name="answer"
                                               ng-model="pagelet.content.value" value="{{ alt.value }}" required>
                                        <span class="radio-checkmark" ng-class="{'radio-checkmark-horizontal': pagelet.content.horizontal}"></span>
                                    </label>
                                    <div class="radio-text" ng-class="{'radio-text-horizontal': pagelet.content.horizontal}">{{ alt.label }}</div>
                                </div>
                            </div>
                             <div ng-repeat="alt in pagelet.content.alternatives track by $index"
                                 ng-show="subForm.$dirty && pagelet.content.value == alt.value">
                                 {{ alt.text }}
                             </div>
                        </div>
                    </div>
                </form>

                <form class="togglesetmulti" ng-if="pagelet.content_type == 'togglesetmulti'" novalidate>
                    <div class="form-group">
                        <div class="question" ng-form="subForm" ng-disabled="read_only">
                            <div class="question-label">{{ pagelet.content.label }}</div>
                            {% endverbatim %}
                            <div class="question-hint">({% trans 'You can choose multiple options' %})</div>
                            <div class="question-error"
                                 ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}
                            </div>
                            {% verbatim %}
                            <div class="options" ng-class="{'horizontal-options': pagelet.content.horizontal}">
                                <div class="option" ng-class="{'option-horizontal': pagelet.content.horizontal}" ng-repeat="alt in pagelet.content.alternatives track by $index">
                                    <label class="cb-container" ng-class="{'cb-container-horizontal': pagelet.content.horizontal}">
                                        <input name="answer" type="checkbox" checkboxlist
                                               ng-model="alt.selected"
                                               ng-click="toggle(pagelet.content.value, alt.value)"
                                               ng-required="field.required" ng-disabled="read_only">
                                        <span class="checkmark" ng-class="{'checkmark-horizontal': pagelet.content.horizontal}"></span>
                                    </label>
                                    <div class="cb-text" ng-class="{'cb-text-horizontal': pagelet.content.horizontal}">{{ alt.label }}</div>
                                </div>
                            </div>
                            <div class="checkbox-value">{{ pagelet.content.text }}</div>
                        </div>
                    </div>
                </form>

                <div ng-if="pagelet.content_type == 'conditionalset'">
                    <div ng-repeat="text in pagelet.content track by $index">
                        <div class="page-content" ng-if="text.type == 'text'" livereplace="text.content">
                        </div>
                        <div ng-if="text.type == 'richtext' && text.box != ''">
                            <div class="page-content rounded" richtextlivereplace="text.content"
                                 style="background-color:{{ text.box }}"></div>
                        </div>
                        <div ng-if="text.type == 'richtext' && text.box == ''">
                            <div class="page-content" richtextlivereplace="text.content"></div>
                        </div>
                    </div>
                </div>

                <form class="expression" ng-if="pagelet.content_type == 'expression'">
                    <input type="hidden" name="{{ pagelet.content.variable_name }}" value="{{ pagelet.content.value }}">
                </form>

                <form class="form" ng-if="pagelet.content_type == 'form'" novalidate>
                    <div ng-repeat="field in pagelet.content track by $index" ng-form="subForm">

                        <div class="question" ng-if="field.field_type == 'numeric'">
                            <div class="question-label">{{ field.label }}</div>
                            {% endverbatim %}
                            <div class="question-error"
                                 ng-show="(form.submitted || subForm.field.$dirty) && subForm.field.$error.required">{% trans 'Please enter a number' %}</div>
                            <div class="question-error"
                                 ng-show="subForm.field.$dirty && (subForm.field.$error.min || subForm.field.$error.max )">{% trans 'Please enter a number between {{ field.lower_limit }} and {{ field.upper_limit }}' %}</div>
                            {% verbatim %}

                            <input class="input-box" ng-disabled="read_only" name="field" type="number"
                                   min="{{ field.lower_limit }}" max="{{ field.upper_limit }}" string-to-number
                                   ng-model="field.value" ng-required="field.required" liveinput>
                        </div>

                        <div class="question" ng-if="field.field_type == 'string'">
                            <div class="question-label">{{ field.label }}</div>
                            {% endverbatim %}
                            <div class="question-error"
                                 ng-show="form.submitted && field.variable_name !== 'phone' && subForm.field.$error.required">{% trans 'This field is required' %}</div>
                            <div class="question-error"
                                 ng-show="form.submitted && field.variable_name === 'phone' && subForm.phone.$error.required">{% trans 'This field is required' %}</div>
                            <div class="question-error"
                                 ng-show="form.submitted && subForm.phone.$error.minlength">{% trans 'Your phone number is too short' %}</div>
                            <div class="question-error"
                                 ng-show="form.submitted && subForm.phone.$error.pattern">{% trans '+Country code then number, no other characters, e.g. "+4798765432"' %}</div>
                            {% verbatim %}

                            <input class="input-box" ng-disabled="read_only" ng-if="field.variable_name !== 'phone'"
                                   name="field" type="text" ng-model="field.value" ng-required="field.required"
                                   liveinput>
                            <input class="input-box" ng-disabled="read_only" ng-if="field.variable_name === 'phone'"
                                   name="phone" type="text" ng-model="field.value" ng-required="field.required"
                                   ng-minlength="11" ng-pattern="/^\+\d+$/" liveinput>

                        </div>

                        <div class="question" ng-if="field.field_type == 'text'">
                            <div class="question-label">{{ field.label }}</div>
                            {% endverbatim %}
                            <div class="question-error"
                                 ng-show="form.submitted && subForm.field.$error.required">{% trans 'This field is required' %}</div>
                            <textarea class="text-area" ng-disabled="read_only" name="field" ng-model="field.value"
                                      ng-required="field.required" rows="7" cols="61" placeholder="{% trans 'Type here...' %}" liveinput></textarea>
                            {% verbatim %}
                        </div>

                        <div ng-if="field.field_type == 'multiplechoice'">
                            <div class="form-group">
                                <div class="question" ng-disabled="read_only">
                                    <div class="question-label">{{ field.label }}</div>
                                    {% endverbatim %}
                                    <div class="question-hint">({% trans 'Choose only one option' %})</div>
                                    <div class="question-error"
                                         ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}
                                    </div>
                                    {% verbatim %}
                                    <div class="radio-options" ng-class="{'horizontal-options': field.horizontal}">
                                        <div class="radio-option" ng-class="{'radio-option-horizontal': field.horizontal}"
                                             ng-repeat="alt in field.alternatives track by $index">
                                            <label class="radio-container" ng-class="{'radio-container-horizontal': field.horizontal}">
                                                <input ng-disabled="read_only" type="radio"
                                                       name="{{ 'multi' + $parent.$index }}"
                                                       ng-model="field.value" value="{{ alt.value }}"
                                                       ng-required="field.required">
                                                <span class="radio-checkmark" ng-class="{'radio-checkmark-horizontal': field.horizontal}"></span>
                                            </label>
                                            <div class="radio-text" ng-class="{'radio-text-horizontal': field.horizontal}">{{ alt.label }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="field.field_type == 'multipleselection'">
                            <div class="form-group">
                                <div class="question" ng-disabled="read_only">
                                    <div class="question-label">{{ field.label }}</div>
                                    {% endverbatim %}
                                    <div class="question-hint">({% trans 'You can choose multiple options' %})</div>
                                    <div class="question-error"
                                         ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}
                                    </div>
                                    {% verbatim %}
                                    <div class="options" ng-class="{'horizontal-options': field.horizontal}">
                                        <div class="option" ng-class="{'option-horizontal': field.horizontal}"
                                             ng-repeat="alt in field.alternatives track by $index">
                                            <label class="cb-container" ng-class="{'cb-container-horizontal': field.horizontal}">
                                                <input name="{{ 'multiselect' + $parent.$index }}" type="checkbox"
                                                       checkboxlist
                                                       ng-model="alt.selected"
                                                       ng-click="toggle(field.value, alt.value)"
                                                       ng-required="field.required && field.value.length==0"
                                                       ng-disabled="read_only">
                                                <span class="checkmark" ng-class="{'checkmark-horizontal': field.horizontal}"></span>
                                            </label>
                                            <div class="cb-text" ng-class="{'cb-text-horizontal': field.horizontal}">{{ alt.label }}</div>
                                        </div>
                                    </div>
                                    <div class="checkbox-value">{{ pagelet.content.text }}</div>
                                </div>
                            </div>

                        </div>

                        <div class="question" ng-if="field.field_type == 'email'">
                            <div class="question-label">{{ field.label }}</div>
                            {% endverbatim %}
                            <div class="question-error"
                                 ng-show="form.submitted && subForm.email.$error.required">{% trans 'This field is required' %}</div>
                            <div class="question-error"
                                 ng-show="form.submitted && subForm.email.$error.email">{% trans 'Please input a valid e-mail address' %}</div>
                            {% verbatim %}

                            <input class="input-box" ng-disabled="read_only" name="email" type="email"
                                   ng-model="field.value" ng-required="field.required" liveinput>
                        </div>

                        <div class="question" ng-if="field.field_type == 'password'">
                            <div class="question-label">{{ field.label }}</div>
                            {% endverbatim %}
                            <div class="question-error"
                                 ng-show="form.submitted && subForm.password.$error.required">{% trans 'This field is required' %}</div>
                            {% verbatim %}
                            <input class="input-box" ng-disabled="read_only" name="password" type="password"
                                   ng-model="field.value" ng-required="field.required">
                        </div>

                        <div ng-if="field.field_type == 'hiddenfield'">
                            <input type="hidden" name="{{ field.name }}" value="{{ field.value }}"
                                   ng-model="field.value">
                        </div>

                    </div>
                </form>

                <form class="quiz" ng-if="pagelet.content_type == 'quiz'" novalidate>
                    <div class="form-group">
                        <div class="question" ng-form="subForm" ng-disabled="read_only"
                             ng-repeat="question in pagelet.content track by $index">

                            <div class="question-label">{{ question.question }}</div>
                            {% endverbatim %}
                            <div class="question-hint">({% trans 'Choose only one option' %})</div>
                            <div class="question-error"
                                 ng-show="form.submitted && subForm.$error.required">{% trans 'Please choose one' %}
                            </div>
                            {% verbatim %}
                            <div class="radio-options" ng-class="{'horizontal-options': question.horizontal}">
                                <div class="radio-option" ng-class="{'radio-option-horizontal': question.horizontal}" ng-repeat="alt in question.alternatives track by $index">
                                    <label class="radio-container" ng-class="{'radio-container-horizontal': question.horizontal}">
                                        <input ng-disabled="read_only" type="radio" name="answer_{{ $parent.$index }}"
                                               ng-model="question.value" value="{{ alt.value }}" required>
                                        <span class="radio-checkmark" ng-class="{'radio-checkmark-horizontal': question.horizontal}"></span>
                                    </label>
                                    <div class="radio-text" ng-class="{'radio-text-horizontal': question.horizontal}">{{ alt.label }}</div>
                                </div>
                            </div>
                            <div ng-show="subForm.$dirty">{{ question.response }}</div>
                        </div>
                    </div>
                </form>

                <div class="page-content image" ng-if="pagelet.content_type == 'image'">
                    <img ng-src="{{ pagelet.content.url }}" alt="{{ pagelet.content.alt }}"
                         title="{{ pagelet.content.title }}">
                </div>

                <div class="page-content video" ng-if="pagelet.content_type == 'video'">
                    <label>{{ pagelet.content.title }}</label>
                    <video width="100%" height="100%" controls="controls">
                        <source ng-src="{{ pagelet.content.url }}" type="video/mp4">
                        <!-- Add fallback option -->
                    </video>
                </div>

                <div class="page-content audio" ng-if="pagelet.content_type == 'audio'">
                    <label>{{ pagelet.content.title }}</label><br/>
                    <audio controls="controls">
                        <source ng-src="{{ pagelet.content.url }}" type="audio/mpeg">
                        <!-- Add fallback option -->
                    </audio>
                </div>

                <div class="page-content file" ng-if="pagelet.content_type == 'file'">
                    <a href="{{ pagelet.content.url }}">{{ pagelet.content.title }}</a>
                </div>
            </div>
            {% endverbatim %}

            <div class="page-buttons">
                <hr class="line">
                <div class="buttons">
                <button ng-cloak ng-show="is_back" ng-click="back()"
                        class="btn-outline btn-page-left">{% trans 'Back' %}</button>
                <button ng-cloak ng-show="!dead_end || stacked" ng-click="next()"
                        class="btn-outline btn-page-right">{% trans 'Next' %}</button>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- /.container -->

<!-- Footer -->
<div class="footer-spacer"></div>
<div class="footer">
    Mindtools.io © All right reserved
</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/angular/angular.min.js' %}"></script>
<script src="{% static 'js/serafin.js' %}"></script>

<script>
    var api = '{{ api|safe }}';
    var csrf_token = '{{ csrf_token }}';
    var areYouSure = '{% trans "Are you sure you want to leave?" %}';
    var module_id = {{ module_id|safe }};
</script>

</body>

</html>
