{% load static %}
{% load i18n %}
{% get_current_language as lang %}
{% get_current_language_bidi as lang_dir %}

<!DOCTYPE html>
<html lang="{{ lang }}" ng-app="therapistapp" class="h-100" dir="{% if lang_dir %} rtl {% else %} ltr {% endif %}"
      style="direction: {% if lang_dir %} rtl {% else %} ltr {% endif %}">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mind Tools</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/mind-tools.css' %}" rel="stylesheet">

    <script src="{% static 'lib/angular/angular.min.js' %}"></script>
</head>

<body class="d-flex flex-column h-100">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="direction: ltr">
    <div class="container">
        <a class="navbar-brand" href="#">Mind Tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'modules' %}">Program</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Therapist</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container mt-1" ng-controller="therapist">

    <a class="btn btn-primary" ng-hide="display_show_table" ng-click="display_show_table=true" data-toggle="collapse"
       href="#users-table" role="button" aria-expanded="false" aria-controls="users-table">
        Show all users
    </a>
    <div class="table-responsive collapse show" id="users-table">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Join</th>
                <th scope="col">Last Login</th>
                <th scope="col">Program Phase</th>
                <th scope="col">Current Page</th>
                <th scope="col">Total Time</th>
                <th scope="col">Distinct Days (Login)</th>
                <th scope="col">Login Count</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in users">
                {% verbatim %}
                <th scope="row"><a href="#" ng-click="userstat(u.id)">{{u.id}}</a></th>
                <td>{{u.email}}</td>
                <td>{{u.phone}}</td>
                <td>{{u.start_time}}</td>
                <td>{{u.last_login}}</td>
                <td>{{u.program_phase}}</td>
                <td>{{u.current_page}}</td>
                <td>{{u.total_time}}</td>
                <td>{{u.distinct_days}}</td>
                <td>{{u.login_count}}</td>
                {% endverbatim %}
            </tr>
            </tbody>
        </table>
    </div>


    <div id="user-section" ng-hide="display_show_table" class="my-2">

        <div class="jumbotron">
            <h2 class="display-4">Patient</h2>
            {% verbatim %}
            <p class="my-1">User Id: {{ user_id }}</p>
            <p class="my-1">Email: {{ user_email }}</p>
            <p class="my-1">Phone: {{ user_phone }}</p>
            <hr class="my-2">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="variable in variables | filter: {is_primary: true}">
                    {{variable.display_name}}: {{ variable.value }}
                </li>
            </ul>
            <a class="lead collapsed" ng-hide="hideShowMoreButton" ng-click="hideShowMoreButton = true"
               data-toggle="collapse" href="#more-gold-variable" role="button" aria-expanded="false"
               aria-controls="more-gold-variable">See more</a>
            <div class="collapse" id="more-gold-variable">

                <ul class="list-group mt-2">
                    <li class="list-group-item" ng-repeat="variable in variables | filter: {is_primary: false}">
                        {{variable.display_name}}: {{ variable.value }}
                    </li>
                </ul>

                <a class="lead collapsed" ng-click="hideShowMoreButton = false"
                   data-toggle="collapse" href="#more-gold-variable" role="button" aria-expanded="false"
                   aria-controls="more-gold-variable">Hide</a>

            </div>
            {% endverbatim %}
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-user-pages-tab" data-toggle="tab" href="#nav-user-pages"
                   role="tab"
                   aria-controls="nav-home" aria-selected="true">Forms</a>
                <a class="nav-item nav-link" id="nav-transformation-tab" data-toggle="tab" href="#nav-transformation"
                   role="tab"
                   aria-controls="nav-transformation" aria-selected="false">Transformations</a>
                <a class="nav-item nav-link" id="nav-edit-vars-tab" data-toggle="tab" href="#nav-edit-vars" role="tab"
                   aria-controls="nav-edit-vars" aria-selected="false">Edit Variables</a>
                <a class="nav-item nav-link" id="nav-notifications-tab" data-toggle="tab" href="#nav-notifications" role="tab"
                   aria-controls="nav-notifications" aria-selected="false">Notifications <i ng-if="notifications_icon" class="fa fa-exclamation-circle"></i> </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-user-pages" role="tabpanel" aria-labelledby="nav-user-pages">
                <div class="container mt-2" id="user_pages_table">
                    <div class="row" ng-repeat="page in user_pages">
                        {% verbatim %}
                        <div class="col-md-auto">{{ page.name }}</div>
                        <div class="col-12">
                            <page-variables-table variables="page.variables"/>
                        </div>
                        {% endverbatim %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-transformation" role="tabpanel" aria-labelledby="nav-transformation-tab">
                <div class="container mt-2" id="user_transofrmations">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="arrayVariableSelect">Main variables</label>
                                <select class="form-control" id="arrayVariableSelect"
                                        ng-model="selectedTransformationVariable"
                                        ng-change="updateTransformationTable()">
                                    {% verbatim %}
                                    <option value="{{ variable.name }}" ng-repeat="variable in variables">
                                        {{ variable.display_name }}
                                    </option>
                                    {% endverbatim %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" ng-if="transofrmationTable">
                        <div class="col-6">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="valueInDate in transofrmationTable">
                                    {% verbatim %}
                                    <th scope="row">{{ valueInDate.time }}</th>
                                    <td>{{ valueInDate.value }}</td>
                                    {% endverbatim %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-edit-vars" role="tabpanel" aria-labelledby="nav-edit-vars-tab">
                <h2>{% trans 'Edit patient data' %}</h2>
                <form ng-submit="postVariables()">
                    {% csrf_token %}
                    <div ng-repeat="field in variablesForm.fields">
                        <div class="form-group" ng-if="field.options.length == 0">
                            {% verbatim %}
                            <label for="{{field.name}}">{{ field.display }}</label>
                            <input type="text" class="form-control" id="{{field.name}}"
                                   placeholder="" ng-model="variablesForm.data[field.name]">
                            {% endverbatim %}
                        </div>
                        <div class="form-group" ng-if="field.options.length > 0">
                                {% verbatim %}
                                <label for="{{field.name}}">{{ field.display }}</label>
                                <select class="form-control" id="{{field.name}}" ng-model="variablesForm.data[field.name]">
                                    <option value="{{ option }}" ng-repeat="option in field.options">
                                        {{ option }}
                                    </option>
                                </select>
                                {% endverbatim %}
                        </div>
                    </div>
                    <button>Submit</button>
                </form>
            </div>
            <div class="tab-pane fade" id="nav-notifications" role="tabpanel" aria-labelledby="nav-notifications-tab">
                <h2>{% trans 'Notifications' %}</h2>
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                     ng-class="!notification.is_read ? 'font-weight-bold bg-light' : ''"
                     ng-repeat="notification in notifications"
                     ng-click="markNotificationRead(notification.id)">
                      {% verbatim %}
                      <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1">{{ notification.message }}</p>
                          <small ng-class="!notification.is_read ? 'font-weight-bold' : ''">{{ notification.time_display }}</small>
                      </div>

                      <div ng-if="!notification.is_read" class="d-flex w-100 justify-content-end">
                        <small class="font-weight-bold">mark as read</small>
                      </div>
                      {% endverbatim %}
                  </a>
                </div>
            </div>
        </div>

    </div>


</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-3 bg-dark mt-auto footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; {% now 'Y' %} MindTools.io</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'lib/moment/min/moment.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/topbar-menu.js' %}"></script>
<script src="{% static 'js/serafin.js' %}"></script>

<script>
    var api = '{{ api|safe }}';
    var csrf_token = '{{ csrf_token }}';
</script>

</body>

</html>
