{% load static i18n compress %}
{% get_current_language_bidi as lang_dir %}

<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tools</title>
    {% compress css %}
    {% if lang_dir %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile.css' %}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_en.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-mobile_en.css' %}">
    {% endif %}
    {% endcompress %}

    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;700&display=swap" rel="stylesheet">
    {% compress js %}
    <script src="{% static 'lib/angular/angular.min.js' %}"></script>
    <script src="{% static 'lib/ng-idle/angular-idle.js' %}"></script>
    {% endcompress %}
</head>
<body ng-app="idle" ng-controller="idle">
<!--starts header-->
{% include 'navbar.html' %}
<!--end header-->
<div class="page right">
    <div class="page-container full-width">
        <div class="header-1">{% trans 'Tools' %}</div>
        {% if captions.file %}
            <div class="header-2">{% trans 'Printable materials' %}</div>
            <div class="column right">
                {% for tool in tools %}
                    {% if tool.type == 'file' %}
                        <a class="text-box" href="{{ tool.url }}" target="_blank">
                            <div>{{ tool.title }}</div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if captions.audio %}
            <div class="header-2 space">{% trans 'Audio files to listen to when needed' %}</div>

            <div class="column right">
                {% for tool in tools %}
                    {% if tool.type == 'audio' %}

                        <a class="text-box" href="{{ tool.url }}" target="_blank">
                            <div>{{ tool.title }}</div>
                            <div class="text-box-icon left-icon">
                                <img class="text-box-img" src="{% static 'img/play.svg' %}"/>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}

            </div>
        {% endif %}
        {% if captions.video %}
            <div class="header-2 space">{% trans 'Video file to watch when needed' %}</div>
            <div class="column right">
                {% for tool in tools %}
                    {% if tool.type == 'video' %}
                        <a class="text-box" href="{{ tool.url }}" target="_blank">
                                <div>{{ tool.title }}</div>
                                <div class="text-box-icon left-icon">
                                    <img class="text-box-img" src="{% static 'img/play.svg' %}"/>
                                </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="footer-spacer"></div>
        <div class="footer">
            Mindtools.io © All right reserved
            {% include 'idle_popup.html' %}
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/serafin.js' %}"></script>

</body>
</html>



