/**
 * CSS code for the string expression widget
 */

div.expression-widget-wrapper {
  display: inline-block;
  width: 100%;
}

div.expression-widget-wrapper input {
  width: 100%;
  box-sizing: border-box;
  padding: 13px 6px;
}

div.expression-widget-wrapper > div.preview-box {
  margin-top: 0.4rem;
  border: 1px solid #EDEDED;
  z-index: 1000;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

div.preview-box .header {
  padding: 5px 7px;
  color: #fff;
  height: 1rem;
  line-height: 1rem;
  text-shadow: 0 1px #4F7F92;
  background: #5295B0 linear-gradient(#83B3C3, #5295B0) no-repeat;
  border-bottom: 1px solid #4F7F92;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

i[class="icon-question-sign"] {
  cursor: pointer;
}

.ctrl.right {
  float: right;
}

span.operator-label {
  padding: 0 0.5rem;
}

div.preview-box .validator {
  background: none repeat scroll 0 0 #F6F7F8;
  position: relative;
  overflow: auto;
  padding: 5px 7px;
  min-height: 20px;
  font-size: 1.2em;
  line-height: 1.4;
}

.validator .result {
  text-align: right;
}

.validator .result > span:before {
  content: " = ";
}

.validator .validation-message {
  font-size: 0.8em;
  color: #b94a48;
}

a#popover-close {
  font-size: 0.8rem;
}

/**
 * Result list for ment.io autocomplete variables
 */

mentio-menu ul.list-group {
  display: block;
  list-style: none;
  padding-left: 0;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
     -moz-box-shadow: 0 5px 15px rgba(0,0,0,.5);
          box-shadow: 0 5px 15px rgba(0,0,0,.5);
  max-height: 300px;
  min-width: 150px;
  overflow-y: scroll;
}

mentio-menu ul > li.list-group-item {
  background-color: #fff;
  padding: 5px 10px;
  position: relative;
  display: block;
  margin-bottom: -1px;
  border: 1px solid #ddd;
}

mentio-menu ul > li.list-group-item:hover {
  cursor: pointer;
}

mentio-menu ul > li.list-group-item.active {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

mentio-menu ul > li.list-group-item > i {
  margin-left: -5px;
  padding-right: 5px;
}


/**
 * Bootstrap overrides
 */

/* Override Bootstrap popover CSS */
.popover {
  border-radius: 4px;
}

.popover,
.popover > .popover-title {
  background-color: rgba(23, 36, 47, 0.90);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.popover > h3.popover-title {
  padding: 0.2rem;
  display: block;
  text-align: center;
}

.popover > .popover-content {
  font-size: 0.7rem;
  line-height: 0.8rem;
  min-width: 250px;
  overflow-y: auto;
}

.popover.top .arrow:after {
  border-top-color: rgba(23, 36, 47, 0.90);
}

.popover.right .arrow:after {
  border-right-color: rgba(23, 36, 47, 0.90);
}

.popover.bottom .arrow:after {
  border-bottom-color: rgba(23, 36, 47, 0.90);
}

.popover.left .arrow:after {
  border-left-color: rgba(23, 36, 47, 0.90);
}

/* Override Bootstrap dl element */
dl.dl-horizontal.column35pst > dt {
  float: left;
  text-align: left;
  width: 35%;
}

dl.dl-horizontal.column35pst > dd {
  margin-left: 40%;
}

/* Override Bootstrap accordion CSS */
div.popover-content > .accordion > .accordion-group {
  border: none;
  border-radius: 0px;
}

div.popover-content > .accordion > .accordion-group > .accordion-heading,
div.popover-content > .accordion > .accordion-group > .accordion-heading > a.accordion-toggle {
  font-size: 0.8rem;
  padding: 5px 0;
}

div.popover-content > .accordion > .accordion-group > .accordion-body > .accordion-inner {
  padding: 2px;
}
