h1, h2, h3 {
    line-height: 36px;
}
#content-main {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.07);
    border-radius: 4px;
    background: #fff;
    padding: 0;
    position: absolute;
    width: 340px;
    left: 50%;
    top: 35%;
    margin-left: -170px;
}
#content-main h1 {
    font-size: 14px;
    font-weight: normal;
    background-color: #5295b0;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));
    background-image: -webkit-linear-gradient(#83b3c3, #5295b0);
    background-image: -moz-linear-gradient(#83b3c3, #5295b0);
    background-image: -o-linear-gradient(top, #83b3c3, #5295b0);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0))";
    color: #fff;
    text-shadow: 0 1px #4f7f92;
    padding: 0 15px;
    margin: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
#content-main .submit-row {
    background: #f6f7f8;
    margin: 10px -15px 0;
    padding: 10px 15px;
    border-top: 1px solid #eee;
    box-shadow: inset 1px 1px 0 #fff;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}
#content-main .execWrapper {
    background: #f6f7f8;
    padding: 10px 15px;
    border-top: 1px solid #eee;
    box-shadow: inset 1px 1px 0 #fff;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}