
body {
    font-family: 'Heebo', sans-serif;
    background-color: #FFFEF8;
    font-weight: 300;
}
/* ------------- For Desktop ------------ */
@media only screen
and (min-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 0.75){

    /*Header*/
    .header {
        display: flex;
        height: 3.8em;
        background: #223780;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        color: white;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    }

    .header-tabs a {
        color: white;
        text-decoration-line: none;
    }

    .header a {
        text-decoration-line: none;
    }

    a.text-box {
        color: #5E6166;
        text-decoration-line: none;
    }

    .header-tabs {
        direction: rtl;
        display: flex;
        flex-flow: row;
        margin-right: 4vw;
    }

    .header-tab {
        min-width: 7vw;
        margin-left: 2vw;
        font-size: 15px;
        letter-spacing: 0px;
        display: flex;
        flex-flow: row;
        direction: rtl;
        cursor: pointer;
        align-self: center;
        align-items: center;
        justify-content: center;
        height: 3.8em;
        color: #FFFEF8;
        opacity: 0.4;
    }

    .header-tab.active {
        opacity: 1;
    }

    .header-tab-icon {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    .header-tab-img{
        align-items: center;
        width: 1.4vw;
    }

    .header-tab-episodes-mobile{
        display: none;
    }

    .header-tab-icon-mobile{
        display: none;
    }

    .mobile-close {
        display: none;
    }

    .header-user {
        display: flex;
        flex-flow: row;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -2px;
        cursor: pointer;
    }

    .header-user-arrow {
        margin-left: .255em;
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }

    .header-user-menu {
        cursor: pointer;
        position: absolute;
        flex-basis: 100%;
        background: white;
        padding: 8px;
        min-width: 10%;
        margin-top: 14vh;
        width: 12vw;
        height: 4vh;
        margin-left: 2vw;
        box-shadow: 1px 1px 1px 1px grey;
        display: none;
    }

    .show {
        display: block;
    }

    .header-user-menu-item {
        color: #1B418A;
        font-weight: bold;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;

    }

    .header-user-menu-item-icon {
        display: flex;
        align-items: center;
        margin-left: 1em;
        color: white;
    }

    .header-user-menu-item-img-mobile{
        display: none;
    }
    .header-user {
        margin-left: 2%;
    }

    .menu-icon {
        display: none;
    }

    /*Home*/
    .home-image-container {
        position: relative;
    }

    .home-image {
        height: 230px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(0deg, rgba(71, 211, 255, 0.2), rgba(71, 211, 255, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.7) -35.4%, rgba(0, 0, 0, 0) 106.07%);
    }

    .home-image-text {
        font-size: 2.7em;
        margin-top: 3vh;
        color: white;
    }

    .home-box-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .home-box {
        margin-top: -37px;
        width: 600px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background: white;
        padding: 27px 1% 1%;
    }

    .home-box-text-1 {
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: #1B418A;
    }

    .home-box-text-2 {
        font-weight: bold;
        font-size: 3.5rem;
        line-height: 100px;
    }

    .home-box-btn {
        background: #1B418A;
        border-radius: 4px;
        width: 10vw;
        min-height: 7vh;
        font-weight: 500;
        font-size: 20px;
        color: white;
        margin-top: 4vh;
        cursor: pointer;
    }

    .home-box-btn:hover{
        background: black;
    }

    .notification-badge::after, .notification-badge-home::after {
        content: "";
        height: 0.5em;
        width: 0.5em;
        background-color: #FF6565;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 0.5em;
    }

    .notification-box-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .notification-box {
        color: #1B418A;
        margin-top: 5vh;
        width: 39vw;
        height: 4vh;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background: white;
        padding: 1%;
        flex-flow: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .notification-icon {
        margin-left: 1em;
        display: flex;
        align-items: center;
    }

    .home-info {
        font-size: 13px;
        width: 89vw;
        margin-left: 6vw;
        margin-top: 7vh;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    .text-box-icon {
        display: flex;
        align-items: center;
    }

    .text-box-icon.left-icon {
        display: flex;
        align-items: center;
        margin-right: 4%;
    }

    .text-box-icon.right-icon {
        margin-left: 1em;
    }

    .home-info-text {
        width: 70%;
    }

    .notification-btn{
        border: 1px solid #1B418A!important;
        padding: 4px 19px 5px 25px!important;
        margin-left: 0.2vw;
        font-weight: 500;
    }

    .row {
        display: flex;
        flex-flow: row;
        direction: rtl;
    }

    .column {
        display: flex;
        flex-flow: column;
    }

    .right {
        justify-content: flex-end;
        text-align: end;
        align-items: flex-end;
    }

    .footer-spacer {
        margin-top: 14vh;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F6F5EA;
        height: 60px;
        color: #9F9E97;
        font-size: 13px;
    }

    .header-1 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 1%;
    }

    .header-1.invisible {
        display: none;
    }

    .header-2 {
        color: #5E6166;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 1%;
        margin-top: 2%;
    }

    .text-box {
        border: 1px solid #B1C4D2;
        box-sizing: border-box;
        border-radius: 10px;
        margin-bottom: 1%;
        padding: 1% 1% 1% 1%;
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        flex-direction: row-reverse;
        color: #5E6166;
    }

    .text-box.active {
        color: white;
        background: #1B418A;
    }

    .text-box-text {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        justify-items: flex-start;
        flex-grow: 1;
    }

    .module-name {
        display: flex;
        align-items: center;
        color: #5E6166;
        font-size: 17px;
        line-height: 25px;
    }

    .text-box.active .module-name {
        color: #FFFEF8;
    }

    .module-name-future {
        color: #5E6166;
        font-size: 17px;
    }

    .module-press-to-view {
        line-height: 22px;
        color: #83929D;
        margin-bottom: 10px;
        margin-top: -5px;
    }

    .hint {
        display: flex;
        font-size: 13px;
        color: #B1C4D2;
        align-items: center;
    }

    .hint.active {
        color: white;
    }

    /*page*/
    .page {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 70px;
    }

    .content {
        width: 100%;
        text-align: center;
        flex-wrap: wrap;

    }

    .page-title {
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 41px;
        color: #1B418A;
        margin-top: 5.2vw;
        letter-spacing: -0.5px;
        word-spacing: 0px;
        margin-left: 2.5vw;
        text-align: right;
        width: 66.5vw;

    }

    .page-content {
        font-size: 16px;
        margin-top: 3.2vh;
        line-height: 26px;
        text-align: right;
        width: 42vw;
        letter-spacing: -0.5px;
        word-spacing: 0px;
        margin-left: 27vw;
        margin-bottom: 5.5vh;
        clear: both;
        display: table;
        direction: rtl;
    }

    .page-content.rounded {
        font-size: 16px;
        margin-top: 3.2vh;
        line-height: 26px;
        text-align: right;
        width: 42vw;
        letter-spacing: -0.5px;
        word-spacing: 0px;
        margin-left: 27vw;
        margin-bottom: 5.5vh;
        border-radius: 4px;
        padding: 0.75rem;
    }

    .page-container {
        margin-right: 5%;
        margin-top: 5%;
        width: 100%;
        margin-bottom: 11vh;
    }

    .page-img {
        margin-top: -10px;
        background: linear-gradient(0deg, rgba(71, 211, 255, 0.2), rgba(71, 211, 255, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.7) -35.4%, rgba(0, 0, 0, 0) 106.07%);
        border-radius: 0px;
        height: 28vh;
        position: relative;
        margin-bottom: 5.5vh;
        margin-left: 27vw;
        width: 42vw;
    }

    .page-buttons {
        margin-top: 8.4vh;
    }

    .line {
        margin-top: 3vh;
        margin-left: 27vw;
        position: relative;
        width: 42vw;
        border: 1px solid #1B418A;
    }

    .buttons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        justify-items: center;
        margin-left: 26vw;
        width: 44vw;
    }

    .btn-outline {
        border: 1.5px solid #1B418A;
        color:#1B418A;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: white;
        font-family: Heebo;
        padding: 5px 21px 7px 21px;
        flex-direction: row;
        font-size: 15px;
    }

    .btn-page-left{
        margin-right: 0;
        margin-left: auto;
        margin-top: 2.5vh;
        color: #1B418A;
    }

    .btn-page-right {
        margin-left: 0;
        margin-right: auto;
        margin-top: 2.5vh;
        color: #1B418A;
    }

    .btn-outline:hover {
        background: #1B418A;
        color: white;
        cursor: pointer;
    }

    .side-bar {
        flex-wrap: wrap;
    }

    .side-bar-item {
        background: #E1F1FF;
        border-radius: 5px;
        height: 20vh;
        width: 12vw;
    }

    .episodes-link {
        display: none;
    }

    /*episodes-menu*/
    .episodes-menu {
        flex-wrap: wrap;
        text-align: right;
        margin-right: 4vw;
        margin-top: 32px;
        position: absolute;
        right: 3vw;
    }

    .episodes-menu-title {
        font-size: 22px;
        font-family: Heebo;
        margin-right: 0.5vw;
    }

    .episodes-menu-title-mobile {
        display: none;
    }

    .episodes-menu-item {
        letter-spacing: -0.2px;
        width: 17.7vw;
        background: #E1F1FF;
        border-radius: 5px;
        font-size: 13px;
        margin-top: 1vh;
        padding: 12px 14px 15px 0px;
    }

    .episodes-menu-item.enable:hover,.episodes-menu-item.active:hover {
        background: #1B418A;
        color: white;
    cursor: pointer;
    }

    .episodes-menu-item.active {
        background: #1B418A;
        color: white;
        cursor: pointer;
    }

    .episodes-menu-item.enable {
        background: #E1F1FF;
        color: #5E6166;
        cursor: pointer;
    }

    .episodes-menu-item.disabled {
        background: #F6F6EE;
        color: #83929D;
    }


    /*Daily quest*/
    .question {
        direction: rtl;
        text-align: right;
        margin-top: 4.5vh;
        margin-left: 27vw;
        margin-bottom: 6.5vh;
        width: 42vw;
        font-weight: 500;
    }

    .question-hint {
        font-family: Heebo;
        font-size: 13px;
        line-height: 22px;
        color: #83929D;
        margin-top: 1vh;
        margin-bottom: 2vh;
    }

    .question-error {
        font-family: Heebo;
        font-size: 13px;
        line-height: 22px;
        color: #9e0c0f;
    }

    /* Create a custom checkbox */
    .cb-text{
        margin-right: 26px;
        font-weight: 300;
        font-size: 15px;
        color: #5E6166;
    }
    .cb-container {
        white-space: nowrap;
        width: 0vw;
        display: block;
        position: relative;
        padding-left: 19px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 300;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-right: 2vw;
    }
    .cb-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 2.5vw;
        height: 19px;
        width: 19px;
        border-radius: 5px;
        border: 1px solid #B1C4D2;
    }

    .cb-container:hover input ~ .checkmark {
        border-radius: 5px;
        border: 1px solid #B1C4D2;
    }

    .cb-container input:checked ~ .checkmark {
        background-color: #1B418A;
        border-radius: 5px;
        border: 1px solid #B1C4D2;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .cb-container input:checked ~ .checkmark:after {
        display: block;
    }

    .cb-container .checkmark:after {
        left: 6px;
        top: 3px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);

    }

    /*Radio*/
    .radio-container {
        white-space: nowrap;
        width: 0vw;
        display: block;
        position: relative;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 300;
        margin-top: 12px;
        margin-right: 1.5vw;
    }

    .radio-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .radio-checkmark {
        position: absolute;
        top: 0;
        left: 0.7vw;
        height: 18px;
        width: 18px;
        border: 1px solid #B1C4D2;
        border-radius: 50%;
    }

    .radio-container:hover input ~ .radio-checkmark {
        background-color: #ccc;
    }

    .radio-container input:checked ~ .radio-checkmark {
        border: 1px solid #1B418A;
    }

    .radio-checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .radio-container input:checked ~ .radio-checkmark:after {
        display: block;
    }

    .radio-container .radio-checkmark:after {
        top: 2px;
        left: 2px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #1B418A;;
    }


    .radio {
        margin-top: 1.8vh;
    }

    .radio-text{
        padding-right: 20px;
        color: #5E6166;
        font-weight: 300;
        font-size: 15px;
    }

    /*Text area*/
    .text-area {
        margin-top: 2.3vh;
    }

    textarea::-webkit-input-placeholder {
        font-size: 18px;
        font-family: Heebo;
        padding-top: 1vh;
        padding-right: 1vw;
        letter-spacing: -0.5px;
    }

    textarea:-moz-placeholder { /* Firefox 18- */
        font-size: 18px;
        font-family: Heebo;
        padding-top: 1vh;
        padding-right: 1vw;
        letter-spacing: -0.5px;
    }

    textarea::-moz-placeholder { /* Firefox 19+ */
        font-size: 18px;
        font-family: Heebo;
        padding-top: 1vh;
        padding-right: 1vw;
        letter-spacing: -0.5px;
    }

    textarea:-ms-input-placeholder {
        font-size: 18px;
        font-family: Heebo;
        padding-top: 1vh;
        padding-right: 1vw;
        letter-spacing: -0.5px;
    }

    textarea::placeholder {
        font-size: 18px;
        font-family: Heebo;
        padding-top: 1vh;
        padding-right: 1vw;
        letter-spacing: -0.5px;
    }

    /* TODO:*/

    .toggle {
        direction: rtl;
    }

    .toggle.hasimage blockquote {
        margin: 0 0 1.25rem 4rem;
    }

    .toggle.hasimage {
        min-height: 4rem;
    }

    .toggle-arrow::after {
        content: '◀';
    }

    .toggle img {
        width: 4rem;
        float: right;
        margin-left: 0.25rem;
    }

    .checkbox-value {
        margin-top: 2vh;
    }

    .input-box {
        margin-top: 2.3vh;
        margin-right: 0.2vw;
        width: 27rem;
    }

    img.note-float-right {
        margin-left: 1.5rem !important;
        border-radius: .25rem!important;
    }

    img.note-float-left {
        margin-right: 1.5rem !important;
        border-radius: .25rem!important;
    }


    /* Chat */

    .chat-box {
        display: flex;
        flex-direction: column;
        max-width: 50vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        height: 800px;
        max-height: 80vh;
        justify-self: center;
    }

    .load-previous-btn {
        background: #6c757d;
        font-weight: 400;
        border: 1px solid #6c757d;
        border-radius: 4px;
        min-width: 8vw;
        min-height: 2vh;
        color: #fff;
        margin-top: 4vh;
        margin-bottom: 2vh;
        cursor: pointer;
        padding: 8px;
    }

    .msgs-content {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-items: flex-end;
    }

    .load-previous-container {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .msgs-history {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;
    }

    .msg {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    .msg-out {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        min-width: 20vw;
        max-width: 70%;
    }

    .msg-in {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        min-width: 20vw;
        max-width: 70%;
    }

    .msg-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 3px;
        padding: 5px 10px 5px 12px;
        font-size: 14px;
        margin: 0;
    }

    .msg-out .msg-text {
        background: #05728f none repeat scroll 0 0;
        color:#fff;
    }

    .msg-in .msg-text {
        background: #ebebeb none repeat scroll 0 0;
        color: #646464;
    }

    .time-date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }

     .file-box {
         display: inline-block;
         background-color: #2e2e2e;
         border-radius: 3px;
         padding: 5px 10px 5px 12px;
         font-size: 14px;
     }

     .file-box a {
         color: #fff;
     }

     .type-msg {
         display: flex;
         flex-direction: row-reverse;
         align-items: center;
         border-top: 1px solid #c4c4c4;
         //position: relative;
         //margin-top: auto;
     }

     .type-msg input {
         background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
         border: medium none;
         outline: none;
         color: #4c4c4c;
         font-size: 15px;
         min-height: 48px;
         width: 100%;
         direction: rtl;
     }

    audio.inline-msg {
        position: absolute;
        margin-top: 10px;
    }

    .msg-send-btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        right: 0;
        height: 33px;
        width: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
    }

    .record-audio {
        background: #3a738f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        top: 11px;
        right: 0;
        height: 33px;
        width: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
    }

    .inputfile {
	    width: 0.1px;
	    height: 0.1px;
	    opacity: 0 !important;
	    overflow: hidden;
	    position: absolute;
	    z-index: -1;
    }

    .inputfile + label {
        background: #278f0a none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        right: 0px;
        width: 33px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
    }

    .emoji-picker-icon {
        position: relative !important;
        top: 0 !important;
        right: 0 !important;
        background: #93c54b none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff !important;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        width: 33px;
        opacity: 1;
        display: inline-block;
        margin: 0 2px;
        z-index: 0 !important;
    }

    .emoji-picker-icon::before {
        position: absolute;
        left: 15%;
        top: 17%;
    }

    .record-audio.red {
        background-color: #8f2321;
    }

    .type-msg-indicators {
        min-height: 25px;
    }

    .new-chat-messages {
        margin: auto;
        width: 130px;
        border: 3px solid cadetblue;
        background-color: #599fcf;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }
}




