/**
 * CSS code for the string expression widget
 */

div.expression-widget-wrapper {
  display: inline-block;
}

div.expression-widget-wrapper input[type="text"] {
  /*width: inherit;*/
}

div.expression-widget-wrapper > div.preview-box {
  margin-top: 0.4rem;
  border: 1px solid #EDEDED;
  z-index: 1000;
}

div.preview-box .header {
  padding: 5px 15px;
  color: #fff;
  height: 1.2rem;
  line-height: 1rem;
  text-shadow: 0 1px #4F7F92;
  background: #5295B0 linear-gradient(#83B3C3, #5295B0) no-repeat;
  border-bottom: 1px solid #CCC;
}

i[class="icon-question-sign"] {
  cursor: pointer;
}

div.preview-box .validator {
  padding: 5px 10px;
  background: #fff;
  min-height: 2rem;
}

.validator .expression {
  font-size: 1.2rem;
}

.validator .validation-message {
  color: red;
}

a#popover-close {
  font-size: 0.8rem;
}

/* Override Bootstrap popover CSS */
.popover,
.popover > .popover-title {
  /*max-width: 800px;*/
  /*width: 800px;*/
  background-color: rgba(23, 36, 47, 0.90);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.popover > h3.popover-title {
  padding: 0.2rem;
  display: block;
  text-align: center;
}

.popover > .popover-content {
  font-size: 0.7rem;
  line-height: 0.8rem;
  min-width: 250px;
  overflow-y: auto;
}

.popover.top .arrow:after {
  border-top-color: rgba(23, 36, 47, 0.90);
}

.popover.right .arrow:after {
  border-right-color: rgba(23, 36, 47, 0.90);
}

.popover.bottom .arrow:after {
  border-bottom-color: rgba(23, 36, 47, 0.90);
}

.popover.left .arrow:after {
  border-left-color: rgba(23, 36, 47, 0.90);
}

/* Override Bootstrap dl element */
dl.dl-horizontal.column35pst > dt {
  float: left;
  text-align: left;
  width: 35%;
}

dl.dl-horizontal.column35pst > dd {
  margin-left: 40%;
}

/* Override Bootstrap accordion CSS */
div.popover-content > .accordion > .accordion-group {
  border: none;
  border-radius: 0px;
}

div.popover-content > .accordion > .accordion-group > .accordion-heading,
div.popover-content > .accordion > .accordion-group > .accordion-heading > a.accordion-toggle {
  font-size: 0.8rem;
  padding: 5px 0;
}

div.popover-content > .accordion > .accordion-group > .accordion-body > .accordion-inner {
  padding: 9px 5px;
}