html, body {
    height: 100%;
    font-size: 110%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -45px;
}

.footer, .push {
    height: 45px;
    overflow: hidden;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin: 0 0 1rem;
    line-height: 1.1;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

* + h1,
* + h2,
* + h3,
* + h4 {
    margin: 2rem 0 1rem;
}

blockquote {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    padding: .5rem .75rem;
    margin: 0 0 1.25rem 0;
    background: #ddd;
    border: none;
}

blockquote:after {
    content: "";
    position: absolute;
    top: 10px;
    left: -30px;
    border-style: solid;
    border-width: 0 30px 15px 0;
    border-color: transparent #ddd;
    display: block;
    width: 0;
    z-index: 1;
}

blockquote p:last-child {
    margin: 0;
}

.messages {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25%;
}

.button {
    padding: .5rem 1rem;
}

header {
    position: fixed;
    top: 0;
    z-index: 500;
    width: 100%;
}

.top-bar,
.footer {
    background: white;
    color: #444;
}

.top-bar .entry {
    display: inline-block;
    color: #444;
    line-height: 1.4;
    padding: 8px 15px;
}

.top-bar h1 {
    font-size: 1.1rem;
    height: 100%;
    margin: 0;
    text-transform: uppercase;
}

.top-bar .button {
    position: relative;
    top: 0;
    margin: 0 15px;
    font-size: 85%;
}

.footer {
    padding: 10px 15px 0;
}

.page {
    margin: 0 auto;
    max-width: 40em;
    padding: 6rem 1rem 4rem;
}

.page nav {
    margin-top: 1.5rem;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea {
    min-height: 7em;
}

fieldset {
    padding: 1rem;
}

fieldset legend,
.table .caption,
label {
    font-size: 85%;
}

fieldset label:last-child input {
    margin-bottom: 0;
}

.table {
    margin: 1.625rem 0;
    padding: 1rem;
}

.table .caption {
    position: relative;
    top: -1.75em;
    padding: 0 0.1875rem;
    margin-left: -0.1875rem;
    font-weight: bold;
    display: inline-block;
}

.table table {
    border: none;
    width: 100%;
}

.table td {
    width: auto;
    text-align: center;
    vertical-align: top;
}

div.error {
    font-size: .875em;
}

.error.right {
    margin-top: 3px;
}

.large input[type="radio"] {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.page nav {
    width: 100%;
    text-align: center;
}

.login.button {
    margin-right: 1em;
}

.fade {
    opacity: 1;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

.fade.ng-hide-add,
.fade.ng-hide-remove {
    display: block !important;
}

.fade.in.ng-hide-add {
    display: none !important;
}

.fade.out.ng-hide-remove {
    display: none !important;
}

.fade.ng-hide {
    opacity: 0;
}

.slide {
    max-height: 500px;
    overflow: hidden;
    -webkit-transition: max-height .15s linear;
    transition: max-height .15s linear;
}

.slide.ng-hide-add,
.slide.ng-hide-remove {
    display: block !important;
}

.slide.ng-hide {
    max-height: 0;
}

.ng-cloak {
    display: none !important;
}

/* COLOR */

body,
table,
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
}

a {
    color: #34a278;
    transition: all 300ms ease-out;
}

a:hover {
    color: #348268;
}

button,
.button {
    background: #34d298;
}

button:hover,
.button:hover {
    background: #34a278;
}

button.disabled,
button[disabled],
.button.disabled,
.button[disabled] {
    background: #74e2b8;
}

button.disabled:hover,
button[disabled]:hover,
.button.disabled:hover,
.button[disabled]:hover {
    background: #74e2b8;
}

blockquote {
    background: #ddefe8;
}

blockquote,
blockquote p {
    color: #222;
}

blockquote:after {
    border-color: transparent #ddefe8;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea,
fieldset,
.table {
    background: transparent;
    border: 1px solid #ccc;
    border-left: 2px solid #34d298;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
    background: transparent;
    border-left: 2px solid #34d298;
}

fieldset legend,
.table .caption {
    color: #444;
    background: transparent;
}

.top-bar {
    background: #332f3f;
    border-bottom: 1px solid #1a1a21;
}

.top-bar .entry {
    color: #ccc;
}

.top-bar h1.entry {
    color: #73e0b8;
}

.footer {
    background: #332f3f;
    color: #ccc;
    border-top: 1px solid #1a1a21;
}

.footer a {
    color: #73e0b8;
}

.footer a:hover {
    color: #73e0b8;
}

div.error {
    color: #f23a14;
}

/* RESPONSIVE */

@media only screen and (max-width: 64.063em) {
    .top-bar ul.right {
        margin-top: .55em;
    }
}


@media only screen and (max-width: 40em) {
    html {
        font-size: 100%;
    }
    blockquote:after {
        left: -15px;
        border-width: 0 15px 10px 0;
    }
}
